<?php
//$googleAnalytics    = $this->getAnalyticsSettings();
//$cssMerge           = $this->getCssMergeSettings();
//$jsMerge            = $this->getJsMergeSettings();
//$flatSettings       = $this->getFlatSettings();
//$cacheSettings      = $this->getCacheSettings();
//$logSettings        = $this->getLogCleanSettings();
//$robotSettings      = $this->getRobotsSettings();
//$translateSettings  = $this->getTranslateSettings();
//$storeSettings      = $this->getShopInfoSettings();
//$emailSettings      = $this->getEmailSettings();
//$paymentSettings    = $this->getPaymentSettings();
//$btwSettings        = $this->getBtwSettings();
//$shippingSettings   = $this->getShippingSettings();
//$salesStats         = $this->getSalesStats();
//$themaSettings      = $this->getThemaSettings();
//$stockSettings      = $this->getStockSettings();
//$backupSettings     = $this->getBackupSettings();
//$sitemapSettings    = $this->getSitemapSettings();
//$cronSettings       = $this->getCronSettings();

$settings = $this->getSettings();

?>
<h1>TO CHECK:</h1>
<table>
    <?php foreach($settings as $setting): ?>
    <tr>
        <td><?php echo $setting['label'] ?></td>
        <td><?php echo $setting['note'] ?></td>
        <td><img src="<?php echo $this->imgUrl($setting['color']) ?>" /></td>
    </tr>
    <?php endforeach; ?>
</table>