<div id="contact-left-sidebar-wrapper">
    <ul>
        <li><a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>contacts" class="<?php echo (Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . 'contacts' == Mage::helper('core/url')->getCurrentUrl()) ? 'active' : ''; ?>"><?php echo $this->__('Contact Form'); ?></a></li>
        <li><a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>veel-gestelde-vragen" class="<?php echo (Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . 'veel-gestelde-vragen' == Mage::helper('core/url')->getCurrentUrl()) ? 'active' : ''; ?>"><?php echo $this->__('Frequently Asked Questions'); ?></a></li>
    </ul>
    <?php echo $this->getChildHtml('catalog.compare.sidebar'); ?>
</div>