<li class="hide-on-mobile header-top-links">
    <span id="header-top-links-phonenumber"><?php echo Mage::getStoreConfig('general/store_information/phone'); ?></span>
    <img src="<?php echo $this->getSkinUrl('images/header-headset.png', array('_secure'=>true)); ?>" />
    <!-- Check which if customer service is opened -->
    <div class="customer-service-online"></div>
</li>