<div id="home-bottom-service-wrapper">
    <div id="home-bottom-service">
        <div id="home-bottom-service-text-wrapper">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('korver_home_txt_bottom_nl')->toHtml(); ?>
        </div>
        <div id="home-bottom-service-contact-wrapper">
            <img src="<?php echo $this->getSkinUrl('images/men.png',array('_secure' => true)) ?>" id="home-bottom-service-contact-employee" />
            <div id="home-bottom-service-contact-text">
                <h4><?php echo $this->__('Can I help you?'); ?> </h4>
                <span><?php echo $this->__('Today you can contact us till 9pm.'); ?></span>
                <a href="#" id="send-mail-link"><?php echo $this->__("Send a mail"); ?></a>
                <a class="button button-green" href="#"><span>
                        <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1">
                            <g id="Ontwerp" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Homepage---Not-login" transform="translate(-817.000000, -1665.000000)" fill="#FFFFFF">
                                    <path d="M820.016667,1671.49167 C821.216667,1673.85 823.15,1675.775 825.508333,1676.98333 L827.341667,1675.15 C827.566667,1674.925 827.9,1674.85 828.191667,1674.95 C829.125,1675.25833 830.133333,1675.425 831.166667,1675.425 C831.625,1675.425 832,1675.8 832,1676.25833 L832,1679.16667 C832,1679.625 831.625,1680 831.166667,1680 C823.341667,1680 817,1673.65833 817,1665.83333 C817,1665.375 817.375,1665 817.833333,1665 L820.75,1665 C821.208333,1665 821.583333,1665.375 821.583333,1665.83333 C821.583333,1666.875 821.75,1667.875 822.058333,1668.80833 C822.15,1669.1 822.083333,1669.425 821.85,1669.65833 L820.016667,1671.49167 L820.016667,1671.49167 Z" id="Shape"></path>
                                </g>
                            </g>
                        </svg>
                        <span><?php echo Mage::getStoreConfig('general/store_information/phone'); ?></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>