<div id="home-catalog-wrapper">
    <a href="<?php echo Mage::getUrl('quick-order') ?>" id="home-catalog-button" class="button"><span><?php echo $this->__('Click here to for fast order') ?></span></a>
    <div id="home-catalog">
        <h3><?php echo $this->__('Our catalog') ?></h3>
        <p>
            <?php echo $this->__('Catalog full of new products') ?>
        </p>
        <img src="<?php echo $this->getSkinUrl('images/home-catalog.png',array('_secure'=>true)) ?>" />
    </div>
</div>