<?php $titleLeft    = Mage::getStoreConfig('tab1/general/text_field_title_left', Mage::app()->getStore()); ?>
<?php $linkLeft     = Mage::getStoreConfig('tab1/general/text_field_link_left', Mage::app()->getStore()); ?>
<?php $imageLeft    = Mage::getStoreConfig('tab1/general/file_image_left', Mage::app()->getStore()); ?>
<?php $urlKeyLeft   = Mage::getStoreConfig('tab1/general/text_field_url_key_left', Mage::app()->getStore()); ?>
<?php $titleRight   = Mage::getStoreConfig('tab1/general/text_field_title_right', Mage::app()->getStore()); ?>
<?php $linkRight    = Mage::getStoreConfig('tab1/general/text_field_link_right', Mage::app()->getStore()); ?>
<?php $imageRight   = Mage::getStoreConfig('tab1/general/file_image_right', Mage::app()->getStore()); ?>
<?php $urlKeyRight  = Mage::getStoreConfig('tab1/general/text_field_url_key_right', Mage::app()->getStore()); ?>

<div id="home-category-wrapper">
    <div class="home-category">
        <div class="home-category-left-img-overlay">
            <h2><?php echo $titleLeft ?></h2>
            <a href="<?php echo Mage::getBaseUrl() . $urlKeyLeft; ?>" id="home-category-left-link"><?php echo $linkLeft; ?></a>
        </div>
        <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'catalog' . DS . 'category' . DS . 'home_category_img' . DS . $imageLeft; ?>"/>
    </div>
    <div class="home-category">
        <div class="home-category-right-img-overlay">
            <h2><?php echo $titleRight ?></h2>
            <a href="<?php echo Mage::getBaseUrl() . $urlKeyRight; ?>" id="home-category-right-link"><?php echo $linkRight; ?></a>
        </div>
        <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'catalog' . DS . 'category' . DS . 'home_category_img' . DS . $imageRight; ?>"/>
    </div>
</div>