<!--<select id="select-pricing" title="Your Language" onchange="window.location.href=this.value">-->
<select id="select-pricing" title="Your Language">
    <option><?php echo $this->__('All prices'); ?></option>
    <option><?php echo $this->__('Show Own Price'); ?></option>
    <option><?php echo $this->__('Show Recommended Price'); ?></option>
</select>