<?php
/* @var Mage_Catalog_Model_Product $product */
$product = $this->getProduct();
$canViewPrices = true; //Mage::helper('exed_customerPermissions')->viewPrices();

//$klein = $product->getKorverVerpakkingseenheidKlein();
//$groot = $product->getKorverVerpakkingseenheidGroot();
$packages = array(); //array_unique(array_filter(array($klein, $groot)));

$tierPrices = array();
$priceModel = $product->getPriceModel();
$tierPrices = $priceModel->getTierPrice(null, $product);
$unitPrice = $priceModel->getPrice($product);

foreach ($tierPrices as $k => $price) {
    $tierPrices[$k]['savePercent'] = round(100 - 100 * ($price['price'] / $unitPrice));
}

if ($packages || $tierPrices) :
    ?>
    <img class="quick-order-popup-button" src="<?php echo htmlspecialchars($this->getSkinUrl('images/quickorder/popup-button.gif')) ?>" alt="<?php echo $this->__('Show more information about this
    product') ?>"/>
    <div class="quick-order-popup">
        <div class="quick-order-popup-top"></div>
        <?php if ($packages) : ?>
            <h3>
                <?php if (sizeof($packages) > 1) : ?>
                    <?php $this->__('Packaging units:') ?>
                <?php else : ?>
                    <?php $this->__('Packaging unit:') ?>
                <?php endif ?>
            </h3>
            <p><?php echo implode($this->__(' or '), $packages) ?></p>
        <?php endif ?>

        <?php if ($tierPrices && !$canViewPrices) : ?>
            <ul class="product-pricing">
                <?php foreach ($tierPrices as $price): ?>
                    <li><?php echo $this->__('Buy %s pieces and save %s%%', intval($price['price_qty']), $price['savePercent']) ?></li>
                <?php endforeach ?>
            </ul>
        <?php elseif ($tierPrices && $canViewPrices) : ?>
            <ul class="product-pricing">
                <?php foreach ($tierPrices as $price): ?>
                    <li><?php echo $this->__('Buy %s pieces and pay only %s', intval($price['price_qty']), Mage::helper('core')->currency($price['price'])) ?></li>
                <?php endforeach ?>
            </ul>
        <?php endif;
        ?>
    </div>
<?php endif; ?>