<?php $canViewPrices = true ?>


<div class="quick-order">
    <div id="order-line-error-template" style="display: none">
        <span class="quick-order-error-not-in-stock"><?php echo $this->__('Out of stock') ?></span>
        <span class="quick-order-message-in-stock"><?php echo $this->__('In stock') ?></span>
        <span class="quick-order-error-not-for-sale"><?php echo $this->__('This product is currently not available on the webshop.') ?></span>
        <span class="quick-order-error-not-available"><?php echo $this->__('We do not offer a product with this SKU.') ?></span>
        <span class="quick-order-error-bundle-product"><?php echo $this->__('This is a composite product, it is not possible to order them through Quick Order.') ?></span>
        <span class="quick-order-error-delivery-date">
            <span class="expected"><b><?php echo $this->__("Expected:") ?></b></span>
            <span class="de_date"></span>
        </span><br />
        <span class="quick-order-over-stock">
            <?php echo $this->__('The ordered quantity is currently not in stock.') ?>
            <?php echo $this->__('Available stock is about') ?> <span class='quick-order-stock-no'><?php echo $this->__('(unknown)') ?></span> <?php echo $this->__('piece(s).') ?>
        </span>
    </div>
    <?php if(isset($fromLocation)): ?>
    <form method="post">
        <div class="options">
            <a class="add-new-product-line" href=""><?php echo $this->__('Add extra orderline') ?></a>
        </div>
        <?php endif; ?>

        <table class="quickorder">
            <thead>
            <tr>
                <?php if ($canViewPrices) : ?>
                    <th class="header sku"><?php echo $this->__('SKU') ?></th>
                    <th class="header qty"><?php echo $this->__('Qty') ?></th>
                    <th class="header image">&nbsp;</th>
                    <th class="header product_title"><?php echo $this->__('Description') ?></th>
                    <th class="header product_adv_price"><?php echo $this->__('Advice') ?></th>
                    <th class="header product_discount"><?php echo $this->__('Discount') ?></th>
                    <th class="header product_price" colspan="2"><?php echo $this->__('Net per piece') ?></th>
                <?php else : ?>
                    <th class="header sku"><?php echo $this->__('SKU') ?></th>
                    <th class="header qty"><?php echo $this->__('Qty') ?></th>
                    <th class="header image">&nbsp;</th>
                    <th class="header product_title"><?php echo $this->__('Description') ?></th>
                    <th class="header product_adv_price" colspan="2"><?php echo $this->__('Advice') ?></th>
                <?php endif ?>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <span class="rights_delivery_date">* <?php echo $this->__('Delivery date is a guideline, no rights can be founded.'); ?></span>
        <?php if(isset($fromLocation)): ?>
        <div class="options">
            <div class="loader">
                <img src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"/>
                <span><?php echo $this->__('Order will be verified') ?></span>
            </div>
            <a class="add-new-product-line" href=""><?php echo $this->__('Add extra orderline') ?></a>
            <button class="button order btn-proceed-checkout btn-checkout" title="<?php echo $this->__('Go to checkout') ?>" type="button">
                <span><span><span class="img-checkout"></span><?php echo $this->__('Quick Order') ?></span></span>
            </button>
        </div>

    </form>
    <?php endif; ?>
</div>

<script>
    jQuery(document).ready(function ($) {
        var deleteImage = '<?php echo $this->getSkinUrl("images/quickorder/delete.svg") ?>';
        var deleteText = '<?php echo $this->__("Delete") ?>';
        var skipMessage = false;

        var quickorder = new QuickOrder('.quick-order', '<?php echo Mage::getBaseUrl(); ?>');
        quickorder.setDeleteImageUrl(deleteImage);
        quickorder.setDeleteText(deleteText);

        // add orderline to the table
        quickorder.addOrderline();

        // set the focus on qty
        $('input.sku').eq(0).focus();

        $('.add-new-product-line').click(function () {
            quickorder.addOrderline();
            return false;
        });

        var typingTimer;
        $('div.quick-order')
        // find product and show in auto complete
            .on('keyup', '.sku', function () {
                clearTimeout(typingTimer);
                typingTimer = quickorder.getProductsByInput($(this));
            })
            // show product description based on input
            .on('focusout', '.sku', function () {
                var element = $(this);
                setTimeout(function () {
                    quickorder.changeDescription(element);
                }, 500);
            })
            // when push tab go the next field (qty)
            .on('keydown', '.sku', function (event) {
                if (event.keyCode == 13) {
                    $(this).parents('tr').find('.qty').focus();
                    event.preventDefault();
                }
            })
            // show product description based on input
            .on('focusout', '.qty', function () {
                var element = $(this);
                setTimeout(function () {
                    quickorder.changeDescription(element);
                }, 500);
            })
            // create new order-line when push tab on qty-field
            .on('keydown', '.qty', function (event) {
                if ((event.keyCode == 9 || event.keyCode == 13) && !event.shiftKey) {
                    var qty = $('.qty');
                    var size = qty.length;
                    var index = qty.index(this);

                    if (size - 1 == index) {
                        quickorder.addOrderline();
                    }

                    qty.eq(index + 1).parents('tr').eq(0).find('.sku').focus();
                    event.preventDefault();
                }
            })
            // delete order-line
            .on('click', '.delete-order', function () {
                quickorder.deleteOrderLine($(this));
            });

        // submit to cart
        $('.order').click(function () {
            skipMessage = true;
            $(this).parents('form').submit();
        });

        // submit form
        $('.quick-order form').submit(function (event) {
            // remove empty lines first
            $('.sku').each(function () {
                if ($(this).val() == '') {
                    $(this).parents('tr').remove();
                }
            });

            quickorder.submitForm($(this), event);
        });

        $('.quick-order')
            .on('click', '.quick-order-popup-button', function () {
                if ($(this).parents('tr').eq(0).hasClass('quick-order-popup-visible')) {
                    $(this).parents('tr').eq(0).removeClass('quick-order-popup-visible');
                }
                else {
                    $(this).parents('tr').eq(0).addClass('quick-order-popup-visible');
                }
            });

        $('body').on('click', '.wrapper', function (e) {
            if (!$(e.target).is('table.quickorder *')) {
                $('tr.quick-order-popup-visible').removeClass('quick-order-popup-visible');
            }
        });

        window.onbeforeunload = function () {
            if (!skipMessage) {
                var showMessage;

                $('.quick-order table tbody').each(function () {
                    sku = $(this).find('.sku').val();
                    if (sku != '') {
                        showMessage = true;
                        return true;
                    }
                });

                if (showMessage) {
                    return "Waarschuwing: als u de bestel snel-pagina verlaat zal de ingevoerde bestellijst leeg gemaakt worden. Als u de ingevoerde artikelen wilt bestellen, klik dan op 'Annuleren' om ze alsnog te kunnen bestellen";
                }
            }
        }
    });
</script>