.header-minicart {

  .cart-link.button {
    background-color: $c-green;
    float: left;
    transition: $transition;

    &:hover {
      background-color: #22953f;
    }
  }

  .cart-mini-price {
    span {
      color: $c-text-green;
    }
  }

  #cart-mini-item-action {
    display: inline-block;
    float: right;
    a {
      margin-left: 3px;
    }
  }

  .product-details {
    width: 76%;
  }

  #product-name-link {
    color: $c-text-primary;
  }

  .product-image {
    margin-right: 20px;
  }

  .icn-wrapper {
    @include bp(max-width, $bp-medium) {
      display: inline-block;
      width: 50px;
      background-color: #4A5C66;
      border-radius: 4px;
    }
  }
}

