.checkout-cart-index {
  .btn-proceed-checkout {
    background: $c-green;
    border-radius: $default-border-radius;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: bold;
  }

  .btn-update {
    background: $c-white;
    border: 1px solid $c-border-light;
    border-radius: $default-border-radius;
    padding: 5px 20px;

    span span {
      color: $c-green;
      text-decoration: none;
      font-weight: bold;

      img {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
      }
    }
  }

  .btn-continue {
    padding: 14px 25px;

    @include bp(max-width, $bp-small) {
      width: 100%;
      float: none;
    }

    span {
      line-height: 0;
      height: 0;

      span {
        color: $c-green;
        font-weight: bold;
        text-decoration: none;
        line-height: 0;
        height: 0;
      }
    }
  }

  .cart-footer {
    width: 100%;

    @include bp(max-width, $bp-small) {
      height: 230px;
    }

    .cart-footer-actions {
      border-radius: $default-border-radius;
      background: $c-input-light-border;
      padding: 10px;

      @include bp(max-width, $bp-medium) {
        margin-bottom: 100px;
        display: block;
      }

      @include bp(max-width, $bp-small) {
        background: none;
        vertical-align: top;
        padding: 0 10px 10px;
      }

      .checkout-types {
        float: right;
        text-align: right;
        max-width: 100%;

        @include bp(max-width, $bp-small) {
          float: none;
          text-align: center;
        }

        li {
          margin-bottom: 0;
        }
      }
    }
  }

  .cart {
    .page-title {
      border: none;
      padding: 0;

      .checkout-types {
        float: right;
        text-align: right;

        @include bp(max-width, $bp-small) {
          float: none;
          text-align: center;
        }
      }

      @include bp(max-width, $bp-small) {
        padding: 0 10px;
      }

      h1 {
        margin-top: 10px;
      }

      @include bp(max-width, $bp-small) {
        .checkout-types,
        h1 {
          margin-top: 30px;
        }
      }
    }

    .messages {
      .success-msg {
        li {
          border: 1px solid $c-green;
          background: $c-background-green;
          border-radius: $default-border-radius;
          color: $c-green;
          padding: 10px 15px;
        }
      }
    }

    .items-plus-totals {
      width: 70%;
      float: left;

      @include bp(max-width, $bp-medium) {
        width: 100%;
      }

      .cart-table {
        width: 100%;

        @include bp(max-width, $bp-small) {
          width: 100%;
        }

        thead {
          tr.first {
            background: $c-input-light-border;
          }
          tr {
            border: none;

            th {
              border: none;
              padding: 15px 5px;
            }

            th:first-child {
              border-top-left-radius: $default-border-radius;
              border-bottom-left-radius: $default-border-radius;
              padding-left: 20px;
            }

            th:last-child {
              border-top-right-radius: $default-border-radius;
              border-bottom-right-radius: $default-border-radius;
              padding-right: 20px;
            }
          }
        }

        tr {
          border: none;

          th {
            text-transform: none;
            font-weight: bold;
          }

          td {
            vertical-align: middle;
          }

          .product-cart-info {
            @include bp(max-width, $bp-small) {
              width: 50%;
              padding: 20px 0 0;
            }

            .product-name {
              font-weight: normal;

              @include bp(max-width, $bp-small) {
                font-weight: bold;
                font-size: 14px;
                height: 100px;
                vertical-align: middle;
                display: table-cell;
              }
            }
            .product-cart-sku {
              margin: 5px 0 0;
            }
          }

          .product-cart-image {
            padding: 10px 10px 10px 20px;

            @include bp(max-width, $bp-small) {
              width: 50%;
              padding: 10px;
              text-align: center;

              a {
                display: inline-block;
              }
            }

            .product-image {
              border: none;
              max-width: 100px;
            }
          }

          .product-cart-actions,
          .product-cart-total {
            .delete-btn {
              display: none;
            }

            @include bp(max-width, $bp-small) {
              width: 100%;
              padding: 0;
              display: block;
              text-align: left;
              vertical-align: middle;
              margin-bottom: 10px;

              &:before {
                font-size: 14px;
                text-transform: none;
                width: 50%;
                display: inline-block;
                margin-left: 10px;
                text-align: left;
                float: left;
                padding: 6px 0 0;
              }

              input {
                margin-left: -10px;
                height: 35px;
                float: left;
              }

              .cart-price {
                margin: 6px 0 0;
                display: block;
              }

              .delete-btn {
                float: left;
                height: 100%;
                margin-left: 10px;
                padding-top: 12px;

                img {
                  height: 10px;
                  vertical-align: middle;
                }
              }
            }
          }

          .product-cart-remove {
            img {
              width: 10px;
            }
          }

          input {
            border: 1px solid $c-input-light-border;
            margin: 0;
            font-size: 1em;
            padding: 5px;
            border-radius: $small-border-radius;

            &:focus {
              outline: none;
            }
          }
        }
      }

      .cart-totals-wrapper {
        float: left;
        clear: none;
        width: 100%;
        padding-left: 0;

        @include bp(max-width, $bp-small) {
          width: 100%;
        }

        .update-cart {
          float: left;
          padding: 15px 0 0;

          @include bp(max-width, $bp-small) {
            width: 100%;
            margin: 0 0 30px;
            padding: 0 10px;

            .button2 {
              width: 100%;
              padding: 15px 20px;
            }
          }
        }

        .cart-totals {
          border: none;
          float: right;
          background: $c-white;
          margin-bottom: 10px;

          @include bp(max-width, $bp-small) {
            width: 100%;
          }

          .discount-total {
            color: $c-green;
          }

          table {
            text-transform: none;
            font-size: 14px;

            td {
              min-width: 70px;
              &:first-child {
                padding-right: 10px;

                @include bp(max-width, $bp-small) {
                  text-align: left !important;
                  padding-left: 0 !important;
                }
              }
            }

            tfoot {
              border: none;

              tr:first-child {
                td {
                  padding-top: 20px;
                }
              }

              td {
                font-size: 17px;
                padding-right: 0;

                strong {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }

    .cart-forms {
      width: 30%;

      @include bp(max-width, $bp-medium) {
        width: 100%;
      }

      .cart-form-tab {
        @include bp(max-width, $bp-medium) {
          float: left;
          width: 50%;

          &:first-child {
            padding-right: 10px;
          }
          &:last-child {
            padding-left: 10px;
          }
        }

        @include bp(max-width, $bp-small) {
          float: none;
          width: 100%;

          &:first-child {
            padding-right: 0;
          }
          &:last-child {
            padding-left: 0;
          }
        }

        .cart-form-tab-title {
          display: none;
          position: relative;

          &.closed {
            margin-bottom: 10px;

            &:after {
              display: block;
              position: absolute;
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 0 5px 5px;
              border-color: transparent transparent transparent $c-message-notice;
              right: 30px;
              top: 20px;
            }
          }
          &.open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &:after {
              display: block;
              position: absolute;
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 5px 0 5px;
              border-color: $c-message-notice transparent transparent transparent;
              right: 30px;
              top: 23px;
            }
          }

          @include bp(max-width, $bp-small) {
            display: block;
            background: $c-input-light-border;
            font-weight: bold;
            padding: 15px;
            border-radius: $default-border-radius;
          }
        }

        .cart-form-tab-content {
          @include bp(max-width, $bp-small) {
            display: none;
          }

          @include bp(min-width, $bp-small) {
            display: block !important;
          }
        }
      }

      @include bp(max-width, $bp-small) {
        width: 100%;
        clear: both;
        margin-bottom: 40px;
        padding: 0 10px;
      }

      .shipping,
      .discount {
        border: 1px solid $c-input-light-border;
        background: $c-white;
        border-radius: $default-border-radius;
        padding: 30px;
        margin-bottom: 30px;

        @include bp(max-width, $bp-small) {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        h2 {
          font-size: 17px;
          display: block !important;
          font-weight: bold;
          margin: 0 0 5px;
        }

        .button2 {
          background: $c-darker-blue;
          border-radius: $default-border-radius;
          padding: 5px 20px;
          margin-top: 10px;

          @include bp(max-width, $bp-small) {
            width: 100%;
          }

          span span {
            color: $c-white;
            text-decoration: none;
            font-weight: bold;
          }
        }

        .discount-form {
          label {
            font-size: 14px !important;
            text-transform: none !important;
            margin: 5px 0 !important;
          }

          .field-wrapper {
            width: 100%;

            .button-wrapper {
              float: right;

              @include bp(max-width, $bp-small) {
                width: 100%;
              }

              .button2 {
                margin-top: 15px;
                float: right !important;
              }
            }

            input {
              width: 100% !important;
              border: 1px solid $c-border-light;
              border-radius: $small-border-radius !important;
              padding: 5px;
              height: 40px !important;

              &:focus {
                outline: none;
              }

              @include bp(max-width, $bp-small) {
                font-size: 14px;
              }
            }
          }
        }

        .shipping-form {
          .shipping-desc {
            display: block;
            margin: 10px 0;
          }

          .form-list {
            .shipping-country,
            .shipping-region,
            .shipping-postcode {
              width: 100%;
              margin: 5px 2% 5px 0;

              select,
              input {
                border: 1px solid $c-border-light;
                border-radius: $small-border-radius;
                padding: 5px;
                height: 40px;
                margin-top: 0;

                &:focus {
                  outline: none;
                }

                @include bp(max-width, $bp-small) {
                  font-size: 14px;
                }
              }
              input {
                padding: 5px 10px;
              }
            }
          }

          #co-shipping-method-form {
            .sp-methods {
              border-top: 1px solid $c-border-light;
              margin-top: 15px;

              ul li {
                label {
                  width: 100%;
                  background: $c-white;
                  border: 1px solid $c-border-light;
                  border-radius: $small-border-radius;
                }
              }
            }

            .buttons-set button {
              background: $c-darker-blue;
              border-radius: $small-border-radius;
              padding: 5px 20px;
              float: right;

              span span {
                color: $c-white;
                text-decoration: none;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}