.catalog-category-view {
  #category-title-mobile {
    margin-top: 20px;
    margin-bottom: 25px;
    @include bp(min-width, $bp-medium + 1) {
      display: none;
    }
  }

  .category-description {
    @include bp(max-width, $bp-medium) {
      display: none;
    }
  }

  #navigation-mobile-wrapper {
    background-color: #E5EEF0;
    padding: 15px;
    border-radius: 4px;
    min-height: 50px;
    margin-bottom: 30px;

    @include bp(min-width, $bp-medium + 1) {
      display: none;
    }

    h3 {
      margin-bottom: 0;
      font-size: 14px;
      color: #1D3440;
      font-weight: bold;
      width: 95%;
      float: left;
    }

    svg {
      float: right;
      margin-top: 6px;
    }

    .item {
      display: none;
      line-height: 30px;
    }

    #cat-sub-menu-arrow-down {
      display: none;
    }
  }

  .nav-productlist-link {
    &:hover {
      color: #25A344;
    }
  }

  #navigation-left-wrapper {
    margin-bottom: 40px;

    .active {
      font-weight: 600;
    }

    @include bp(max-width, $bp-medium) {
      display: none;
    }
  }

  .category-title {
    h1 {
      text-transform: none;
    }

    @include bp(max-width, $bp-large) {
      display: none;
      margin-top: 30px;
    }
  }

  #description-read-more {
    color: $c-primary-green;
  }

  .cat-parent li {
    display: none;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .toolbar {
    background-color: $c-light-blue;
    border: none;
    border-radius: 4px;


    .sort-by {
      margin-right: 30px;

      .toolbar-sort-by {
        width: 130px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #C5D2D7;
        height: 32px;
        background: url("../images/arrow-down.svg") no-repeat 110px 14px #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border-radius: 4px;
      }
    }

    .count-container {
      width: 200px;

      select {
        padding: 6px;
        font-size: 14px;
        border: 1px solid #C5D2D7;
        height: 32px;
        background: url("../images/arrow-down.svg") no-repeat 32px 14px #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        width: 25%;
        border-radius: 4px;
      }
    }

    .sorter {
      @include bp(max-width, $bp-medium) {
        display: none;
      }

      .view-mode {
        @include bp(max-width, $bp-ipadlandscape + 1) {
          display: none;
        }
      }
    }

    .pager {
      .pages {
        float: right;
      }
    }
  }

    .toolbar {

      @include bp(max-width, $bp-medium) {
        background-color: transparent;
      }

      .pager {
        .pages {
          a, .current {
            width: 39px;

            @include bp(max-width, $bp-medium) {
              border-radius: 3px;
              height: 40px;
              padding-top: 5px;
            }
          }
          .current {
            background-color: transparent;
            border: none;
            font-weight: 600;
          }

          .current {
            @include bp(max-width, $bp-medium) {
              border: 1px solid #C5D2D5;
            }
          }

          .next {
            @include bp(max-width, $bp-medium) {
              background-color: #E5EEF0;
            }
          }
        }
      }
    }

  .count-container {
    float: left;
  }

  .category-products {

    .products-grid {
      .item {
        width: 33.3%;
        margin-right: 0;
        padding: 25px;

        @include bp(max-width, $bp-medium) {
          width: 50%;
        }

        @include bp(max-width, $bp-xsmall) {
          width: 100%;
        }

        @include bp(max-width, 479px) {
          box-shadow: 0 1px 8px 0px rgba(193, 193, 193, 0.4);
        }

        &:hover {
          -moz-box-shadow: 0 0 5px $c-light-grey;
          -webkit-box-shadow: 0 0 5px $c-light-grey;
          box-shadow: 0 0 10px #D6E1E4;
        }

        .btn-cart {
          background: $c-primary-green;
          width: 75%;
          border-radius: initial;
        }

        .add-to-links {
          display: none;

          label {
            font-weight: 400;
          }

          .add-to-compare-list {
            margin-right: 10px;
          }
        }
      }
    }

    .products-list {
      .item {
        .products-item-add-wrapper {
          margin-top: 10px;
          .btn-cart {
            background: $c-primary-green;
            width: 75%;
            border-radius: initial;
          }
        }

        .regular-price {
          font-weight: 500;
        }
      }
    }
  }

  #catalog-product-compare-wrapper, #order-fast-wrapper {
    @include bp(max-width, $bp-medium) {
      display: none;
    }
  }

  .category-block-left-button {
    background-color: #fff;
    color: green;
    line-height: 30px;
    border: 1px solid #D6E1E4;
    width: 100%;
    text-align: left;

    &:hover {
      background-color: $c-primary-green;
      border: 1px solid $c-primary-green;
      span {
        color: #fff!important;
      }
    }
  }

  .category-block-left-title {
    background-color: $c-light-blue;
    color: $c-text-primary;
    width: 100%;
    line-height: 40px;
    display: inline-block;
    padding: 7px 15px;
    border: 0;
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  #order-fast-wrapper {
    a {
      span {
        color: #25A345;
      }
    }
  }

  .cat-toggler {
    float: right;

    .toggler-plus, .toggler-min {
      cursor: pointer;
    }
  }

  .products-grid {
    li {
      text-align: left;
      .regular-price {
        color: #b9b9b9;
        .price {
          text-decoration: line-through;
          color: #b9b9b9;
        }
      }
    }
  }

  .catalog-product-in-stock {
    color: $c-primary-green;
  }

  .catalog-product-out-of-stock {
    color: $c-red;
  }

  .products-item-add-wrapper {
    border: 1px solid $c-primary-green;
    border-radius: 3px;

    .product-item-add-amount {
      line-height: 30px;
      width: 25%;
      float: left;
      color: $c-primary-green;

      #qty {
        border: none;
        height: 31px;
        margin-top: 1px;
        color: $c-primary-green;
        text-align: center;
      }
    }
  }

  .product-info {
    .product-sku {
      color: #A4B3B7;
    }
  }

  .product-image {
    border: none;
  }

  #recently-viewed-products-wrapper {

    @include bp(max-width, $bp-medium) {
        display: none;
    }

    .mini-products-list {

      .item {
        margin: 0;
        border: 1px solid $c-light-grey;
        padding: 15px;
        margin-bottom: 15px;
      }

      .product-details {
        .product-name {
          font-weight: 600;
          padding-top: 0px;
          margin-bottom: 10px;
        }

        .view-product-link {
          color: $c-primary-green;
        }
      }
    }
  }

  #customer-price {
    margin-bottom: 10px;

    .price {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .messages {
    margin-bottom: 20px;
    margin-top: 20px;
    .success-msg {
      li {
        background-color: #deffe6;
        border: 1px solid #25A344;
        color: #25A344;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;

        span {
          a {
            color: #25A344;
            text-decoration: underline;
          }
        }
      }
    }
  }
}