.catalog-category-view {
  .category-mobile-title {
    padding: 5px !important;

    span {
      font-weight: 600;
    }

    @include bp(min-width, $bp-large + 1) {
      display: none!important;
    }
  }

  .category-desktop-title {
    margin-bottom: 10px !important;

    span {
      font-weight: 600;
      font-size: 20px;
    }

    @include bp(max-width, $bp-large) {
      display: none!important;
    }
  }

  .category-title {
    h1 {
      text-transform: none;
    }

    @include bp(max-width, $bp-large) {
      margin-top: 30px;
    }
  }

  body > div > div.main-container.col2-left-layout > div > div.col-left.sidebar.col-left-first > div > div.page-title.category-title {
    @include bp(min-width, $bp-large + 1) {
      display: none;
    }
  }

  body > div > div.main-container.col2-left-layout > div > div.col-main > div.page-title.category-title {
    @include bp(max-width, $bp-large) {
      display: none;
    }
  }

  .block-layered-nav .block-content > dl > dd {
    padding: 0;
  }

  .block-layered-nav .block-content > dl > dd:last-child {
    border: none;
  }

  .block-layered-nav .block-content > dl > dt:after, .block-layered-nav .block-content.accordion-open > dl > dt.current:after {
    left: auto;
    right: 20px;
  }

  #narrow-by-list2 {

    dt {
      @include bp(max-width, $bp-large) {
        background-color: $c-light-grey;
        border: none;
      }
    }
    dd > ol > li {
      &:hover {
        background-color: red;

        @include bp(max-width, $bp-large) {
          background-color: $c-light-blue;
        }
      }
      a {
        &:hover {
          color: #fff;

          @include bp(max-width, $bp-large) {
            color: $c-red;
          }
        }

        @include bp(max-width, $bp-large) {
          background-color: $c-light-grey;
        }
      }
    }

    @include bp(max-width, $bp-large) {
      background-color: $c-light-grey;
      display: block!important;
      border: none;
    }

    #category-title-arrow-right, #category-title-arrow-down {
      float: right;
      margin-top: 5px;
      cursor: pointer;
    }
  }

  .block-layered-nav .block-content > dl > dt {
    text-transform: none;

    &:hover {
      background-color: #fff;
    }

  }
}

body > div > div.main-container.col2-left-layout > div > div.col-left.sidebar.col-left-first > div > div.page-title.category-title {
  @include bp(min-width, $bp-large + 1) {
    display: none;
  }
}

body > div > div.main-container.col2-left-layout > div > div.col-main > div.page-title.category-title {
  @include bp(max-width, $bp-large) {
    display: none;
  }
}

.cat-parent li {
  display: none;
}