.main-container {
  .usps {
    width: 22%;
    float: right;
    height: auto;
    margin-top: 70px;
    background-color: #E5EEF0;
    padding: 25px;
    border-radius: 4px;

    @include bp(max-width, $bp-xlarge) {
      //height: 340px;
    }

    table {
      margin-top: 20px;

      tr {
        margin-bottom: 12px;
        float: left;
      }
    }

    .arrow-left {
      float: left;
      margin-right: 20px;
    }

    .arrow-usp {
      width: 14px;
      height: 14px;
      background-image: url('../images/check.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      float: left;
      position: relative;
      top: 5px;
    }

    span {
      font-size: 19px;
      font-weight: 600;
    }

    @include bp(max-width, $bp-large) {
      display: none;
    }
  }
}