.contacts-index-index {
  #contactForm {
    padding: 0;

    .buttons-set {
      margin-left: 0;
      float: left;
      border: none;

      button.button {
        margin-left: 0;
      }
    }

    #department {
      padding: 6px;
      font-size: 14px;
      border: 1px solid #D6E1E4;
      outline: none;
      border-radius: 3px;
      height: 35px;
      background: url(../images/arrow-down.svg) no-repeat 97% 50% #fff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      margin-top: 0;
    }

    #priority {
      padding: 6px;
      font-size: 14px;
      border: 1px solid #D6E1E4;
      outline: none;
      border-radius: 3px;
      height: 35px;
      background: url(../images/arrow-down.svg) no-repeat 97% 50% #fff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      margin-top: 0;
    }

    #attachment {
      padding: 6px;
      font-size: 14px;
      border: 1px solid #D6E1E4;
      outline: none;
      border-radius: 3px;
      height: 35px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
    }
  }

  #catalog-product-compare-wrapper {
    margin-top: 50px;

    .category-block-left-title {
      padding: 10px 0 10px 10px;
      background-color: #f5f5f5;
      border-radius: 4px;
    }

    .category-block-left-button {
      margin-top: 20px;
    }
  }
}

#contact-left-sidebar-wrapper {
  ul {
    li {
      line-height: 30px;

      a {
        &:hover {
          text-decoration: underline;
        }
      }

      .active {
        font-weight: bold;
      }
    }
  }
}

.contacts {
  margin-bottom: 30px;

  div.quick-order table.quickorder th.header {
    background-color: #fff;
  }

  form {
    .fieldset {
      .legend {
        width: 100%;
        float: left;
      }

      .form-list {
        .fields {
          .left {
            padding-right: 10px;

            @include bp(max-width, $bp-medium) {
              padding-right: 0;
            }
          }

          .right {
            padding-left: 10px;

            @include bp(max-width, $bp-medium) {
              padding-left: 0;
            }
          }

          .wide {
            float: left;
            width: 100%;

            .input-box {
              #orderdate_btn {
                position: absolute;
                right: 40px;
                margin-top: -25px;
              }

              input {
                width: 100%;
                max-width: inherit;
              }

              input {
                border: 1px solid #D6E1E4;
                outline: none;
                border-radius: 3px;
                height: 35px;

                &:focus {
                  border: 1px solid #c3d1d5;
                }
              }
            }
          }

          .field {
            float: left;
            width: 50%;

            .input-box {
              input {
                width: 100%;
                max-width: inherit;
              }

              input {
                border: 1px solid #D6E1E4;
                outline: none;
                border-radius: 3px;
                height: 35px;

                &:focus {
                  border: 1px solid #c3d1d5;
                }
              }
            }

            @include bp(max-width, $bp-medium) {
              width: 100%;
            }
          }
        }

        .wide {
          float: left;
          width: 100%;

          .input-box {
            #comment, #reason_return, #action {
              width: 100%;
              max-width: inherit;
              border: 1px solid #D6E1E4;
              outline: none;
            }
          }
        }
      }
    }

    .buttons-set {
      float: right;
      width: 100%;

      .button {
        background-color: $c-primary-green;
      }
    }
  }
}