.footer-usps-wrapper {
  border-top: 1px solid #E5EEF0;

  .usps {
    width: 1260px;
    margin: 0 auto;
    padding: 25px;

    table {
      margin-top: 5px;
      width: 1260px;

      tbody {
        width: 100%;
        tr {
          margin-bottom: 12px;
          margin-right: 2%;
          float: left;
        }

        .usps-second {
          @include bp(max-width, 589px) {
            display: none;
          }
        }

        .usps-third {
          @include bp(max-width, 819px) {
            display: none;
          }
        }

        .usps-last {
          @include bp(max-width, 1119px) {
            display: none;
          }
        }
      }
    }

    .arrow-left {
      float: left;
      margin-right: 20px;
    }

    .arrow-usp {
      width: 14px;
      height: 14px;
      background-image: url('../images/check.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      float: left;
      position: relative;
      top: 5px;
    }

    span {
      font-size: 19px;
      font-weight: 600;
    }

    span, table {
      color: $c-text;
    }
  }

  @include bp(max-width, $bp-medium) {
    margin-top: 30px;
  }
}

.footer-container {
  max-width: 100%;
  padding: 0;
  background-color: #1e3540;

  .footer {
    max-width: 1260px;
    margin: 0 auto;
    padding: 60px 20px 30px 20px;

    .links {
      font-size: 14px;

      li {
        padding: 1px 0;

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      @include bp(max-width, $bp-medium) {
        padding: 20px;
        width: 100%;
      }

      @include bp(min-width, $bp-medium + 1) {
        width: 14%;
      }
    }

    @include bp(max-width, $bp-medium) {
      padding: 15px;
    }
  }

  a, span, h1, h2, h3, h4, h5 , h6, p {
    color: #fff!important;
  }

  .footer-map {
    float: right;
    width: 418px;
    height: 435px;
    //margin-top: -150px;
    margin-top: -80px;
    overflow: hidden;

    @include bp(max-width, $bp-medium) {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    #footer-map-pin-wrapper {
      position: absolute;
      text-align: center;
      bottom: 60px;
      margin-left: 160px;

      @include bp(max-width, $bp-medium) {
        top: 305px;
      }
    }
  }
  .footer-map img {
    width: 100%;
  }

  #footer-newsletter-wrapper  {
    width: 20%;
    float: left;

    @include bp(max-width, 1115px) {
      display: none;
    }

    #button-newsletter-subscribe {
      background-color: #1e3540;
      border: 1px solid #fff;
      margin-top: 20px;
      transition: $transition;
      padding: 7px 30px;

      &:hover {
        background-color: #fff;

        span {
          color: #1e3540 !important;
        }
      }
    }
  }

  #footer-contact-wrapper {
    width: 20%;
    float: right;

    @include bp(max-width, 1115px) {
        float: left;
    }

    @include bp(max-width, $bp-medium) {
      width: 100% !important;
      padding: 20px;
      margin-bottom: 250px;
    }
  }
}

address {
  padding: 20px 0;
  max-width: 1260px;
  margin: 0 auto; // weg?
  //width: 80%;
  float: left;
}

.block-title {
  border: none;
  margin-bottom: 25px;

  strong {
    span {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

#footer-copyright-wrapper {
  max-width: 1200px;
  margin: 0 auto;

  .copyright {
    padding-top: 30px;
    padding-left: 20px;
  }

  .social-media {
    width: 20%;
    float: right;
    padding: 20px;

    @include bp(max-width, $bp-medium) {
      display: none;
    }
  }

  .social-media em {
    background-image: url(../images/social_icons.png);
    background-repeat: no-repeat;
    width: 13px;
    vertical-align: middle;
    display: inline-block;
  }

  @include if-min-resolution(2) {
    .social-media em {
      background-image: url(../images/social_icons@2x.png);
      background-size: 50px 125px;
    }
  }

  @mixin footer-social-icon($class, $y, $height: 13) {
    .social-media em.#{$class} {
      background-position: 0 -#{$y}px;
      height: #{$height}px;
    }

    .social-media a:hover em.#{$class} {
      background-position: -25px -#{$y}px;
    }
  }

  @include footer-social-icon(facebook, 0);
  @include footer-social-icon(twitter, 24);

  #footer-copyright-wrapper-links {
    float: left;
    padding-top: 30px;
    padding-left: 20px;

    @include bp(max-width, $bp-medium) {
      display: none;
    }

      li {
        float: left;
        margin-right: 20px;

        a {
          &:hover {
            text-decoration: underline;
          }
        }
    }
  }
}

.social-media-icon-wrapper {
  display: inline-block;
  border: 1px solid $c-light-grey;
  padding: 5px 10px;
  border-radius: 4px;
  float: right;
  margin-left: 5px;

  a {
    .twitter {
      margin: 0 auto;
    }
  }
}