a {
  outline: 0!important;
  &:hover {
    text-decoration: none;
  }
}

body > div > div > div.main-container.col1-layout > div > div > div.usps > table > tbody > tr:nth-child(3) > td:nth-child(2) {
  width: 200px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.light-grey-border {
  border: 1px solid $c-module-border-light-grey!important;
}

.slider-button {
  background-color: transparent;
  border: 1px solid #D6E1E4;
  padding: 10px 20px;
  margin-top: 15px;
  transition: $transition;

  &:hover {
    background-color: $c-primary-green;
    border: 1px solid $c-primary-green;

    span {
      color: #fff;
      font-weight: 500;
    }
  }
  span {
    color: $c-primary-green;
  }
}

.hide-on-mobile {
  @include bp(max-width, $bp-medium) {
    display: none;
  }
}

.hide-on-home, .description-hide {
  display: none;
}

.nav-primary li.level0 ul {
  border: none;
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 15px 60px -3px rgba(193, 193, 193, 0.4);

  @include bp(max-width, $bp-medium) {
    li {
      border-top: 1px solid #D6E1E4;
    }
  }
}

/*** TEXT ***/
.text-green {
  color: $c-text-green;
}

/* BUTTONS */

.button-green {
  background-color: $c-primary-green;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page {
  z-index: 999;
}

.col-main {

  @include bp(max-width, 1200px) {
    padding: 50px;
  }

  @include bp(max-width, 1400px) {
    padding: 0 40px;
  }

  @include bp(max-width, 1600px) {
    padding: 0 30px;
  }
}

#overlay {
  background: rgba(1, 23, 44, 0.3);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99998;
}

.input-text:focus {
  border: none;
}

/* MESSAGES */
.messages {
  margin-bottom: 20px;

  @include bp(max-width, $bp-small) {
    margin-bottom: 0;
    padding: 0 10px;
  }
}

.breadcrumbs {
  margin: 5px 0 25px;
}