.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.page {
  width: 100%;
  height: 100%;
  position: relative;

  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.show-nav .page {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

#site-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -300px;
  box-shadow: 0px -3px 10px rgba(31, 31, 31, 0.25);
}

#mobile-menu-search {
  width: 100%;
  height: 75px;
  padding: 10px;

  #search_mini_form {
    width: 100%;
    margin-top: 6px;

    #search {
      border: 1px solid $c-light-grey;
      outline: none;
    }


  }
}

#site-menu-list {
  li {
    line-height: 40px;
    border-top: 1px solid #D6E1E4;
    a {
      padding: 10px;
      display: block;
      width: 100%;
      color: $c-text-primary;

      &:hover {
        text-decoration: none;
        background-color: $c-light-grey;
      }
    }

    .store-language-container {
      line-height: 60px;
    }

    #select-language {
      width: 92%;
      margin-left: 5px;
    }

    #mobile-menu-customer-service {
      float: left;
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}

