/*******************************************
 * Header navigation style
 *******************************************/

.background-header {
  background-color: $c-darker-blue;

  @include bp(min-width, $bp-medium) {
    height: 150px;
  }

  #header {
    @include bp(min-width, $bp-medium + 1) {
      padding-top: 20px;
    }

    .page-header-container {
      @include bp(max-width, $bp-medium) {
        .logo {
          display: none;
        }
      }
    }
  }

  .links-header {
    width: 60%;
    position: relative;
    top: 18px;
    float: right;
    color: $c-white;

    .welcome {
      float: right;
      margin-left: 10px;
    }

    .links {
      float: right;

      ul {

        li {
          float: left;
          margin-left: 15px;

          a {
            color: $c-white;
            &:hover {
             text-decoration: underline!important;
            }
          }
        }
      }
    }

    @include bp(max-width, $bp-medium) {
      display: none;
    }
  }

  .skip-links {

    .skip-mobile-nav {
      z-index: 99999;
      display: none;

      @include bp(max-width, $bp-medium) {
        width: 20%;
        display: block;
      }
    }

    .skip-logo {
      width: 60%;

      @include bp(min-width, $bp-medium + 1) {
        display: none;
      }

      img {
        margin: 0 auto;
      }
    }

    .skip-cart {
      @include bp(max-width, $bp-medium) {
        width: 20%;
        float: right;
        margin-top: 10px;

        .label, .count {
          display: none;
        }
      }

      @include bp(min-width, $bp-medium + 1) {
        height: 40px;
      }

      .icn {
        position: relative;
        top: 3px;
        margin-right: 5px;
      }

      .label {
        &:focus {
          color: red;
        }
      }
    }

    .skip-nav {
      @include bp(max-width, $bp-medium) {
        width: 25%;
        border: none;

        @include bp(min-width, $bp-medium + 1) {
          display: none;
        }
      }
    }

    @include bp(max-width, $bp-medium) {
      height: 85px;
      padding-top: 14px;
    }

    .skip-link {
      @include bp(max-width, $bp-medium) {
        background: none !important;
      }
    }
  }
}

//.header-nav-logged-out {
//  width: 25%;
//  padding: 10px;
//  height: 400px;
//  margin-top: 20px;
//  background-color: $c-white;
//  float: left;
//  position: absolute;
//  box-shadow: 0 15px 60px -3px rgba(193, 193, 193, 0.4);
//  border-radius: 4px;
//
//  @include bp(max-width, $bp-medium) {
//    display: block;
//    position: static;
//    float: none;
//    height: auto;
//    width: 100%;
//    margin: 0;
//    padding: 0;
//  }
//}

#cart-triangle-green {
  position: absolute;
  left: 6px;
  top: -10px;
  z-index: 1;
}

.header-language-background {
  background: #fff;
  color: rgb(99, 99, 99);
}

.form-language-2 {
  float: right;

  @include bp(max-width, $bp-medium) {
    float: none;
  }
}

#header-contact-form-link {
  text-decoration: underline;
  transition: $transition;

  &:hover {
    color: $c-primary-green;
  }
}

#select-language {
  padding: 7px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 1;
  border-radius: 0;
  border: none;
  height: 37px;
  background: url("../images/arrow-down.svg") no-repeat right #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100px;
}

.customer-service-online {
  width: 1%;
  padding: 7px 7px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #25A345;
  position: absolute;
  z-index: 1000;
  margin-top: -28px;
  margin-left: 8px;
}

.customer-service-offline {
  width: 1%;
  padding: 7px 7px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #D92525;
  position: absolute;
  z-index: 1000;
  margin-top: -28px;
  margin-left: 8px;
}

//.home-login-wrapper {
//  width: 90%;
//  z-index: 9999;
//  position: absolute;
//  height: 285px;
//
//}

#nav-dropdown {
  @include bp(min-width, $bp-medium + 1) {
    height: 430px;
    max-width: 290px;
    margin-top: 20px;
    display: block!important;
    background-color: #fff;
    border: none;
    padding: 10px 5px 5px 5px;
    box-shadow: 0 15px 60px -3px rgba(193, 193, 193, 0.4);
  }
}

.nav-dropdown-customer-logged-out {
  @include bp(max-wdith, $bp-medium) {
    height: 450px;
  }
}

.nav-primary {
  @include bp(min-width, $bp-medium + 1) {
    width: 23%;
    margin-top: -54px;
    position: absolute;
  }

  #login-form {
    z-index: 999;
    position: absolute;
    background-color: #fff;
    max-width: 290px;
    width: 100%;
    box-shadow: 0 15px 60px -3px rgba(193, 193, 193, 0.4);
    border-radius: 4px;
    height: 410px;

    input {
      outline: none;
    }

    .remember-me-box {
      input.checkbox {
        margin-left: 0;
      }

      label {
        font-weight: 400;
        padding: 6px 10px 6px 30px;
        background-color: #fff;
        cursor: pointer;
        &:hover {
          background-color: #fff;
        }
      }
    }

    h4 {
      font-size: 16px;
      font-weight: 600;
      position: relative;
      top: -13px;
      margin-top: 6px;
    }

    @include bp(max-width, $bp-medium) {
      display: none;
    }

    .home-login-form-label {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 400;
    }

    padding: 30px;

    #home-login-forgot-password-link {
      margin-top: 15px;
      margin-bottom: 15px;
      color: #A7B6BA;

      &:hover {
        text-decoration: underline;
      }
    }

    .input-text {
      height: 40px;
    }

    #send2 {
      float: right;
      right: 0;
      bottom: 0;
      margin-top: 20px;
      padding: 9px 30px;
    }
  }
}

  #header-nav {
    @include bp(max-width, $bp-medium) {
      display: block;
    }
  }

#hamburger-menu {
  background-image: url(../images/icon_sprite@2x.png);
  background-size: 100px 1000px;    display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-top: 20px;
}

#product-group-link {
  position: relative;
  text-transform: none;
  font-size: 16px;
  line-height: 54px;
  font-weight: 600;
  padding: 0 0 0 20px;
  background-color: #fff;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 99;

  @include bp(max-width, $bp-medium) {
    padding-top: 15px;
    line-height: 25px;
  }
}

#menu-dropdown-item {

  @include bp(min-width, $bp-medium + 1) {
    width: 100%;
    max-width: 290px;
  }

  @include bp(max-width, $bp-medium) {
    box-shadow: 0 2px 10px 0px rgba(193, 193, 193, 0.4);
  }

  ul {
    li {
      @include bp(min-width, $bp-medium + 1) {
        padding-left: 16px;
        padding-top: 0.7px;
        padding-bottom: 3px;
      }
      a {
        font-size: 15px;
        font-weight: 400;
        transition: $transition;

        &:hover {
          color: $c-primary-green;
        }

        @include bp(max-width, $bp-medium) {
          padding: 0 15px 0 20px;
        }

      }
    }
  }

  .arrow-menu {
    @include bp(max-width, $bp-medium) {
      float: right;
      height: 60px;
      position: relative;
      top: -2px;
      padding-top: 2px;
      display: block;
      width: 5%;
      padding-right: 40px;
    }

    #mobile-cat-triangle-down, #mobile-cat-triangle-up {
      @include bp(min-width, $bp-medium + 1) {
        float: right;
        margin-top: -25px;
        margin-right: 20px;
      }
    }

    /* @include bp(min-width, $bp-medium + 1) {
      display: none;
    } */

    svg {
      path {
        fill: #BAC7CB
      }
    }
  }
}

#mobile-cat-triangle-up {
  display: none;
}

#mobile-cat-triangle-down {
  //display: none;
}

@include bp(max-width, $bp-medium) {
  .nav-productlist-link {
    line-height: 50px!important;
  }
}

#nav-dropdown-2 {
  .active {
    a {
      font-weight: bold;
    }
  }
}

.nav-primary li.level1 a {
  border: none;
}

.nav-primary li.parent > a:after, .nav-primary li.parent.sub-menu-active > a:after, .nav-primary li.parent.menu-active > a:after {
  @include bp(max-width, $bp-medium) {
    display: none;
  }
}

#order-now-link {
  background-color: #1D3440;
  color: #fff;
  padding: 10px;
}

.header-top-links {
  width: 150px;
  #header-top-links-phonenumber {
    float: right;
  }
}

.header-price-select-wrapper {
  width: 10%;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.header-search-logged-in {
  width: 46%!important;
}

#select-pricing {
  padding: 7px 12px;
  font-size: 14px;
  border: none;
  height: 40px;
  background: url("../images/arrow-down.svg") no-repeat 102px 18px #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  border-radius: 4px;

  @include bp(max-width, $bp-medium) {
    display: none;
  }
}