#home-category-wrapper {
  clear: both;
  width: 100%;
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 70px;

  .home-category {
    width: 48%;
    max-height: 250px;
    float: left;
    border-radius: 4px;
    overflow: hidden;

    @include bp(max-width, $bp-medium) {
      width: 100%;
      clear: both;
      padding-left: 10px;
      padding-right: 10px;
      max-height: auto;
    }

    &:nth-child(1) { // LEFT BLOCK
      margin-bottom: 20px;
    }

    &:nth-child(2) { // RIGHT BLOCK
      float: right;
    }

    img {
      width: 100%;
      max-width: 100%;
    }

    .home-category-left-img-overlay {
      padding: 20px;
      position: absolute;
      margin-top: 30px;
      margin-left: 25px;

      h2 {
        font-weight: 600;
      }

      #home-category-left-link {
        color: $c-primary-green;
      }

      @include bp(max-width, $bp-medium) {
        clear: both;
        width: 100%;
        margin-top: 10px;
        margin-left: 5px;
      }
    }

    .home-category-right-img-overlay {
      padding: 20px;
      position: absolute;
      margin-top: 30px;
      margin-left: 25px;

      h2 {
        font-weight: 600;
      }

      @include bp(max-width, $bp-medium) {
        clear: both;
        width: 100%;
        margin-top: 10px;
        margin-left: 5px;
      }
    }
  }

  @include bp(max-width, $bp-medium) {
    margin-bottom: 0;
  }
}