.cms-home {

  .main-container {
    @include bp(max-width, $bp-medium) {
      padding: 0!important;
    }
  }

  #product-group-link {
    .arrow-menu {
      display: none;
    }

    @include bp(max-width, $bp-medium) {
      line-height: 54px;
    }
  }

  #menu-dropdown-item {
    @include bp(max-width, $bp-medium) {
      box-shadow: none;
    }
  }

  .sw-flexslider .slides .slider-title .caption {
    padding: 30px 60px !important;

    @include bp(max-width, $bp-medium) {
      padding: 15px 30px !important;
    }
  }

  .flexslider-homepage_nl .slides .slider-title .caption h2 {
    color: #264451;
    font-weight: 600;
    font-size: 28px;

    @include bp(max-width, $bp-medium) {
      font-size: 21px;
    }
  }

  #customer-register-button {
    float: left;
    margin-top: -69px;
    width: 24.4%;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 28px;
    text-align: left;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 500;
    transition: $transition;

    @include bp(max-width, $bp-medium) {
      display: none;
    }
  }

  .content-home {
    margin-top: 70px;
    float: left;
    width: 70%;

    @include bp(max-width, $bp-medium) {
      width: 100%;
      padding: 10px;
      margin-top: 0;
    }

    #home-title-wrapper {
      h1 {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 0.2px;
        margin-bottom: 40px;
      }

      @include bp(min-width, $bp-medium + 1) {
        width: 60%;
      }
    }

    #home-text-wrapper {
      margin-bottom: 25px;

      a {
        color: $c-red;
        float: left;
        margin-top: 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    #button-home-read-more {
      background-color: #fff;
      color: $c-primary-green;
      border: 1px solid #D6E1E4;
      transition: $transition;

      &:hover {
        background-color: $c-primary-green;
        color: #fff;
        border: 1px solid $c-primary-green;
      }
    }
  }

  #home-bottom-service-wrapper {
    clear: both;
    width: 100%;
    display: inline-block;
    background-color: #E5EEF0;
    position: relative;
    top: 7px;

    @include bp(max-width, $bp-medium) {
      display: none;
    }

    #home-bottom-service {
      max-width: 1260px;
      margin: 0 auto;
    }

    #home-bottom-service-text-wrapper {
      width: 45%;
      float: left;
      margin: 55px 0;
      padding-left: 20px;

      h3 {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 0.2px;
        line-height: 1.2;
      }

      #home-txt-bottom-wrapper {
        margin-top: 30px;
        margin-bottom: 30px;
      }

      @include bp(max-width, $bp-xlarge) {
        width: 40%;
      }
    }

    #home-bottom-service-contact-wrapper {
      width: 50%;
      float: left;

      @include bp(max-width, $bp-xlarge) {
        width: 55%;
      }
    }
  }

  #home-txt-bottom-button {
    background-color: transparent;
    border: 1px solid #C2CFD2;
    border-radius: 4px;
    margin: 10px 0 10px 0;
    color: $c-primary-green;
    transition: $transition;

    &:hover {
      background-color: #25A345;
      border: 1px solid #25A345;
      color: #ffffff;
    }
  }

  #home-bottom-service-contact-text {
    background-color: #fff;
    width: 65%;
    margin-top: 64px;
    margin-left: 90px;
    position: relative;
    padding: 30px;
    border-radius: 4px;
    height: 230px;

    h4 {
      font-size: 18px;
    }

    #send-mail-link {
      color: $c-green;
      display: block;
      margin-top: 15px;
      margin-bottom: 15px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .button-green {
      display: block;
      width: 164px;

      svg {
        position: relative;
        top: 3px;
        left: -2px;
        margin-right: 2px;
      }

      &:hover {
        background-color: $c-green;
      }
    }
  }

  #home-bottom-service-contact-employee {
    z-index: 999999999;
    float: right;
    margin-top: -27px;
    position: relative;
  }

  #home-catalog-wrapper {

    @include bp(max-width, $bp-medium) {
      display: none;
    }

    #home-catalog-button {
      float: right;
      width: 22%;
      font-size: 15px;
      text-align: left;
      padding: 15px 25px;
      margin-top: 70px;
      background-color: #2F4048;

      @include bp(max-width, $bp-xlarge) {
        width: 25%;
      }
    }

    #home-catalog {
      width: 22%;
      float: right;
      height: 220px;
      margin-top: 25px;
      background-color: #E5EEF0;
      padding: 25px;
      border-radius: 4px;

      @include bp(max-width, $bp-xlarge) {
        width: 25%;
      }

      h3 {
        font-size: 19px;
        font-weight: 600;
      }

      img {
        position: relative;
        float: right;
        display: inline-block;
        width: 85%;
        margin-right: -60px;
      }
    }
  }

  .nav-primary li.level0 ul {
    top: 30px;
  }

  #home-category-right-link, #home-category-right-link {
    color: $c-primary-green;
  }
}