.catalog-product-view {

  h2 {
    font-size: 17px;
    color: #1C2E36;
    font-weight: bold;
    margin: 25px 0;
  }

  #product_addtocart_form {

    .product-image {
      float: right;
      width: 85%;

      @include bp(max-width, 1257px) {
        width: 100%;
      }
    }

    .more-views {
      width: 15%;
      float:left;
      height: 371px;

      @include bp(max-width, 1257px) {
        width: 100%;
        height: auto;
      }

      .product-image-thumbs {

        li {
          @include bp(max-width, 1257px) {
            float: left;
            width: 23%;
          }

          a {
            img {
              width: 90%;
            }
          }
        }

        .last {
          width: 5%;

          @include bp(max-width, 1257px) {
            float: right;
          }
        }

        .hidden {
          display: none!important;
        }
      }
    }
  }

  #more-views-triangle-down-wrapper {
    border: 1px solid #D6E1E4;
    text-align: center;
    line-height: 30px;
    width: 78px;
    margin: 0 auto;

    @include bp(max-width, 1257px) {
      display: none;
    }
  }

  #more-views-triangle-up-wrapper {
    border: 1px solid #D6E1E4;
    text-align: center;
    line-height: 30px;
    width: 75px;
    margin: 0 auto;
    display: none;
  }

  #more-views-triangle-right-wrapper {
    border: 1px solid #D6E1E4;
    text-align: center;
    line-height: 66px;
    width: 35px;
    margin-top: 12px;
    float: right;

    @include bp(min-width, 1258px) {
      display: none;
    }
  }

  .product-shop {
    width: 47%;

    @include bp(max-width, $bp-medium) {
      width: 100%;
    }

    .product-name {
      .h1 {
        width: 65%;
        margin-bottom: 15px!important;
      }
    }

    .price-info {
      float: left;
      padding: 0;
    }

    #product-info-sku {
      font-size: 14px;
      color: #A4B3B7;
      margin-bottom: 15px;
    }

    .in-stock {
      clear: both;
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }

  .products-item-add-wrapper {
    border: 1px solid $c-primary-green;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;

    .product-item-add-amount {
      line-height: 30px;
      width: 25%;
      float: left;
      color: $c-primary-green;

      #qty {
        border: none;
        height: 31px;
        margin-top: 1px;
        color: $c-primary-green;
        text-align: center;
      }
    }

    .btn-cart {
      background: $c-primary-green;
      width: 75%;
      border-radius: initial;
    }
  }

  #product-information-wrapper {
    width: 50%;
    float: left;

    @include bp(max-width, $bp-medium) {
      width: 100%;
    }

    #product-information-header {
      width: 100%;
      line-height: 30px;
      border: 1px solid #D6E1E4;
      display: inline-block;
      margin-top: 50px;

      @include bp(max-width, $bp-medium) {
          display: none;
      }

      ul {
        line-height: 50px;
        li {
          float: left;
          width: 25%;
          text-align: center;
        }
      }

      a {
        color: #25A344;
      }
    }

    #product-information-content-wrapper {

      h2 {
        width: 80%;
        float: left;
      }

      @include bp(max-width, $bp-medium) {
        width: 100%;
      }

      #general-information {
        display: block;

        #general-information-content-wrapper {
          clear: both;

          @include bp(max-width, $bp-medium) {
            display: none;
          }
        }
      }

      #specifications {
        clear: both;
        #product-attribute-specs-table {
          border: none;
          th, td {
            width: 50%;
            border: none;
            text-transform: none;
          }

          .odd {
            th, td {
              background-color: #ffffff;
            }
          }

          .even {
            th, td {
              background-color: #E5EEF0;
            }
          }
        }
      }

      #specifications-content-wrapper {
        clear: both;

        @include bp(max-width, $bp-medium) {
          display: none;
        }
      }

      #exploded-view {
        #exploded-view-content-wrapper {
          clear: both;

          @include bp(max-width, $bp-medium) {
            display: none;
          }
        }
      }

      #documentation {
        #documentation-content-wrapper {
          clear: both;

          @include bp(max-width, $bp-medium) {
            display: none;
          }
        }
      }
    }
  }

  #product-information-right-wrapper {
    float: right;
    margin-top: 50px;
    width: 47%;

    .box-up-sell {
      @include bp(max-width, $bp-medium) {
        display: none;
      }
    }

    @include bp(max-width, $bp-medium) {
      width: 100%;
    }

    #customer-service-wrapper {
      background-color: #ECF3F4;
      border-radius: 4px;
      display: inline-block;
      width: 100%;
      margin-bottom: 30px;

      @include bp(max-width, $bp-medium) {
        padding: 20px;
      }

      h2 {
        float: left;
        margin-left: 20px;

        @include bp(max-width, $bp-medium) {
          float: none;
          margin: 0;
        }
      }

      #button-ask-question {
        float: right;
        margin-top: 25px;
        margin-right: 20px;
        background-color: transparent;
        color: #25A345;
        border: 1px solid #C5D2D5;
        font-size: 14px;
        font-weight: 500;

        @include bp(max-width, $bp-medium) {
          float: none;
          margin-top: 25px;
        }
      }

    }

    #upsell-product-table {
      background-color: #E5EEF0;
      border-radius: 4px;
      padding-top: 20px;
      padding-bottom: 20px;

      li {
        width: 90%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #fff;
        border: 1px solid #C5D2D5;
        border-radius: 3px;

        .upsell-item-img-wrapper {
          img {
            width: 18%;
            float: left;
            margin: 15px;
          }
        }

        #upsell-product-info-wrapper {
          float: right;
          width: 75%;
          padding: 30px;
          text-align: left;

          .product-name {
            font-weight: bold;
          }

          .product-link {
            color: #25A345;
          }
        }
      }
    }
  }

  #product-recently-viewed-wrapper {
    clear: both;

    @include bp(max-width, $bp-medium) {
        display: none;
    }

    .recently-viewed-item {
      width: 25%;
      float: left;

      .recently-viewed-item-info {
        width: 65%;
      }

      .recently-viewed-item-name {
        color: #1D3440;
        font-weight: bold;
      }

      .recently-viewed-item-link {
        color: #25A344;
        display: block;
      }
    }
  }

  .product-compare-icn {
    float: right;
    right: 0;
  }

  .add-to-cart-wrapper {
    width: 47%;

    @include bp(max-width, $bp-medium) {
      width: 100%;
    }

    .link-wishlist {
      margin-left: 5px!important;
    }
  }
}

#specifications-test-link {
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.product-information-icn {
  display:none;
  float: right;
  margin-top: 30px;
}

.product-information-icn-down {
  display: none;
}

.product-information-icn-right, .product-specification-icn-right, .product-exploded-view-icn-right, .product-documentation-right {
  display: none;
  @include bp(max-width, $bp-medium) {
    display: block;
  }
}