.cms-quick-order {
  .page-title {
    float: left;
  }
}

div.quick-order {
  ul {
    list-style: none;
    padding: 15px 0;
    line-height: 2em;
  }

  table.quickorder {
    width: 100%;
    margin: 20px 0;

    @include bp(max-width, $bp-medium) {
      margin-bottom: 10px;

      tr {
        border-bottom: 1px solid $c-input-light-border;
      }
    }

    th {
      height: 14px;
      text-align: left;
      padding: 10px;
    }
    th.header {
      background-color: $c-input-light-border;
      color: $c-text;
      font-weight: bold;

      &:first-child {
        border-top-left-radius: $default-border-radius;
        border-bottom-left-radius: $default-border-radius;
      }
      &:last-child {
        border-top-right-radius: $default-border-radius;
        border-bottom-right-radius: $default-border-radius;
      }
    }
    th.sku {
      width: 100px;
      em {
        color: $c-error;
      }
    }
    th.qty {
      width: 40px;
      em {
        color: $c-error;
      }
    }

    @include bp(max-width, $bp-medium) {
      th.header.product_adv_price,
      th.header.product_discount,
      td.product_adv_price,
      td.product_discount {
        display: none;
      }
      td.product_image img {
        height: auto;
        max-width: 50px;
      }
    }
    @include bp(max-width, $bp-small) {
      th.header.product_title,
      th.header.product_price {
        display: none;
      }
      td.td-sku,
      td.td-qty {
        vertical-align: top;
        padding-top: 35px;
      }
      td.product_image,
      td.product_title,
      td.product_price,
      td.delete {
        display: block;
        vertical-align: top;
        clear: both;
        padding: 0 10px;
      }
      td.product_price {
        padding-top: 10px;
        padding-bottom: 35px;
      }
      td.product_image {
        padding-top: 35px;

        img {
          width: 40%;
          margin-left: 30%;
          max-width: none;
        }
      }
    }

    td {
      background-color: $c-white;
      padding: 10px;

      .quick-order-error span {
        display: none;
      }

      div.title {
        font-weight: bold;
      }

      input {
        border: 1px solid $c-input-light-border;
        margin: 0;
        font-size: 1em;
        padding: 5px;
        border-radius: $small-border-radius;

        &:focus {
          outline: none;
        }
      }
      input.sku {
        width: 100px;
      }
      input.qty {
        width: 40px;
        text-align: center;
      }
    }
    td.delete {
      width: 60px;

      @include bp(max-width, $bp-small) {
        width: 100%;
        padding-top: 0;
      }

      .button.delete-order {
        background: none;

        @include bp(max-width, $bp-small) {
          float: right;
          width: 40px;
          margin-top: -57px;
        }
      }
    }
    .td-qty {
      position: relative;
    }

    .product_adv_price,
    .quick-order .product_price {
      width: 70px;
    }
    .product_discount {
      width: 30px;
    }

    .search_autocomplete {
      display: none;
      max-height: 300px;
      overflow: auto;
      position: absolute;
      width: 400px;
      background-color: white;
      border: 1px solid $c-primary-green;
      cursor: pointer;
      z-index: 999;

      @include bp(max-width, $bp-small) {
        width: 86%;
      }

      div {
        padding: 3px;

        &:hover {
          background-color: $c-darker-blue;
          color: white;
        }
      }
    }
  }

  div.options {
    button.button {
      float: right;
      background: $c-primary-green;
      padding: 12px 24px;
      clear: both;

      span span {
        font-size: 14px;
      }
    }

    .add-new-product-line {
      border: 1px solid $c-border-light;
      color: $c-primary-green;
      padding: 12px 24px;
      font-weight: bold;
      border-radius: $default-border-radius;
      float: right;
      margin-bottom: 20px;

      @include bp(max-width, $bp-medium) {
        width: 100%;
        clear: both;
        text-align: center;
      }
    }
  }

  div.loader {
    color: $c-darker-blue;
    font-weight: 600;
    float: right;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    height: 0;
    font-size: 14px;

    img,
    span {
      float: left;
      margin: 0 5px;
    }

    img {
      width: 20px;
    }

    @include bp(max-width, $bp-medium) {
      height: 30px;
    }
  }

  .error, .quickorder .quick-order-error span,
  .quick-order-stock {
    display: none;
  }

  @include bp(max-width, $bp-small) {
    .quick-order-error {
      display: block;
    }
  }

  .quick-order-not-available .quick-order-error,
  .quick-order-not-available .quick-order-error .quick-order-error-not-available,
  .quick-order-error-bundle-product .quick-order-error,
  .quick-order-error-bundle-product .quick-order-error .quick-order-error-bundle-product,
  .quick-order-not-for-sale .quick-order-error,
  .quick-order-not-for-sale .quick-order-error .quick-order-error-not-for-sale,
  .quick-order-not-in-stock .quick-order-error,
  .quick-order-not-in-stock .quick-order-error .quick-order-error-not-in-stock,
  .quick-order-over-stock .quick-order-error,
  .quick-order-over-stock .quick-order-error-over-stock,
  .quick-order-delivery-date .quick-order-error,
  .quick-order-delivery-date .quick-order-error .quick-order-error-delivery-date,
  .quick-order-delivery-date-inform .quick-order-error,
  .quick-order-delivery-date-inform .quick-order-error .quick-order-error-delivery-date,
  .quick-order-over-stock .quick-order-stock {
    display: inline-block;
    float: left;
  }

  .quick-order-delivery-date .quick-order-error .quick-order-error-delivery-date .de_date,
  .quick-order-delivery-date .quick-order-error .quick-order-error-delivery-date .expected,
  .quick-order-delivery-date-inform .quick-order-error .quick-order-error-delivery-date .de_date {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    color: $c-primary-green;
  }
  .quick-order-over-stock {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    color: $c-message-notice;
  }

  .quick-order-error-delivery-date {
    float: left;
  }

  .quick-order-in-stock .quick-order-error, .quick-order-in-stock .quick-order-error .quick-order-message-in-stock {
    display: block;
    color: $c-primary-green;
  }

  .rights_delivery_date {
    display: block;
    margin-top: -20px;
    margin-bottom: 20px;
    color: $c-message-notice;

    @include bp(max-width, $bp-medium) {
      margin-top: 0;
    }
  }

  .quick-order-error {
    font-size: 13px;
    font-weight: bold;
    color: $c-error;
    float: left;
  }

  .popup {
    .quick-order-popup {
      position: absolute;
      z-index: 1;
      width: 250px;
      border: 1px solid $c-primary-green;
      padding: 0;
      background: $c-background-green;
      display: none;
      top: 25px;
      left: 50px;
      border-radius: $default-border-radius;

      @include bp(max-width, $bp-small) {
        top: 47px;
        left: -75px;
      }

      h3 {
        font-size: 12px;
      }
    }

    .quick-order-popup-button {
      position: absolute;
      height: 15px;
      width: 15px;
      top: 50%;
      right: 7px;
      margin-top: -23px;
      z-index: 5;

      @include bp(max-width, $bp-small) {
        top: 55px;
      }
    }
  }

  .quick-order-popup-visible {
    .popup {
      .quick-order-popup {
        display: block;

        .quick-order-popup-top {
          position: absolute;
          bottom: -8px;
          left: 82px;
          background: url(../../images/quickorder/popup-arrow-top-down.gif) top left no-repeat;
          width: 15px;
          height: 8px;
          z-index: 11;
        }

        ul.product-pricing {
          padding: 7px;
          background: none;
          border: none;
          margin-top: 0;
          margin-bottom: 0;

          li {
            margin-left: 0;
            color: $c-primary-green
          }
        }
      }
    }
  }
}
