.poort24-return-return-index {
  #form-validate {
    #action {
      padding: 6px;
      font-size: 14px;
      border: 1px solid #D6E1E4;
      height: 35px;
      background: url(../images/arrow-down.svg) no-repeat 98% 50% #fff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      width: 100%;
      border-radius: 4px;
    }

    .delete-order {
      img {
        width: 14px;
      }
    }
  }
}