.homepage_nl-container {
  @include bp(min-width, $bp-medium + 1) {
    float: right;
    margin-left: 25%;
    height: 410px;
    width: 72%;
    //border: 1px solid #D6E1E4;
    overflow: hidden;
  }
}

.flexslider-homepage_nl {
  .slides {
    .slider-title {
      background-color: transparent !important;
      .caption {
        h2 {
          color: #000;
        }
      }
    }
  }
}

.sw-flexslider .slides img {
  height: 410px;
  width: 100%;

  @include bp(min-width, $bp-medium + 1) {
    border: 1px solid #D6E1E4;
    border-radius: 6px;
  }

  @include bp(max-width, $bp-medium) {
    height: auto;
    width: 100%;
    border-radius: 0;
  }
}