<style>
    td { color: #2f2f2f; font-family: Verdana, Arial, Helvetica, sans-serif; }

	.headerTable {
		font-size:24px;
		color:#49AB3E;
		font-weight:bold;
		padding-left:10px;
	}
	.tableHead {
		background-color: #d9e5ee !important;
		padding:5px 9px 6px 9px;
		border:1px solid #bebcb7;
		border-bottom:none;
		line-height:1em;
	}
	.tableRow {
		padding:7px 9px 9px 9px;
		border:1px solid #bebcb7;
		border-top:0;
		background-color: #f8f7f5 !important;
	}

    @media print {
	  	.legend, .nav-container, .header-container, .col-left, .button {
	    	display: none;
	  	}
	  	.main-container, .col-main {
	  		width: 100%;
	  	}
	  	.fieldset {
	  		border: none;
	  	}
	}
</style>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="fieldset">
    <table style="border-bottom:0px;" width="100%" cellpadding="10" cellspacing="0">
	    <tr>
		    <!-- Content links -->
		    <td bgcolor="#FFFFFF" valign="top" width="90%">
			      <div class="legend">Bevestiging</div>
			      <!-- Title -->			      
			      <!-- Contentvlak 1 -->
			      <div style="border:1px solid #FFFFFF; padding:10px 10px 10px 0;">
			        <table cellspacing="0" cellpadding="0" border="0" width="100%">
			            <tr>
			                <td valign="top">
			                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
			                        <thead>
				                        <tr>
				                            <th align="left" width="48.5%" class="tableHead">
				                            	Bedrijfgegevens:
				                            </th>
				                            <th width="3%"></th>
				                            <th align="left" width="48.5%" class="tableHead">
				                            	Retourgegevens:
				                            </th>
				                        </tr>
			                        </thead>
			                        <tbody>
				                        <tr>
				                            <td valign="top" class="tableRow">
				                            	<?php echo $this->_emailContent['company'] ?>
					                            <br />
					                            <?php echo $this->_emailContent['street_1'] ?>
					                            <br />
					                            <?php echo $this->_emailContent['postcode'] ?> <?php echo $this->_emailContent['city'] ?>
					                            <br />
					                            Tel. <?php echo $this->_emailContent['phonenumber'] ?>
					                            <br />
					                            Email: <a href="mailto:<?php echo $this->_emailContent['email'] ?>"><?php echo $this->_emailContent['email'] ?></a>
				                            </td>
				                            <td>&nbsp;</td>
				                            <td valign="top" class="tableRow">
				                            	Retournummer: <b><?php echo $this->_emailContent['retour_number'] ?></b>
				                            	<br />
				                                Besproken met: <?php echo $this->_emailContent['discussed_with'] ?>
				                                <br />
				                                Ordernummer: <?php echo $this->_emailContent['ordernumber'] ?>
				                                <br />
				                                Datum order: <?php echo $this->_emailContent['orderdate'] ?>
				                                <br />
				                                <br />
				                                Reden retour:
				                                <br />
				                                <?php echo $this->_emailContent['reason_return'] ?>
				                                <br />
				                                <br />
				                                Actie: <?php echo $this->_emailContent['action'] ?>
				                            </td>
				                        </tr>
			                        </tbody>
			                    </table>
			                    <br/>

			                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
			                      	<thead>
			                        	<tr>
			                          		<th align="left" class="tableHead">Product</th>
			                          		<th align="left" class="tableHead">Artikelnummer</th>
			                          		<th align="left" class="tableHead">Aantal</th>
			                        	</tr>
			                      	</thead>
			                      	<tbody class="tableRow">
			                        	<?php echo $this->_emailContent['articles'] ?>
			                      	</tbody>
			                    </table>
			                    <br />

				                <?php if ($this->_emailContent['comment']!='') { 
				                	echo "<b>Leveringsinstructies:</b><br />" . $this->_emailContent['comment'];
				                } ?>
			                </td>
			          	</tr>
			        </table>
			    </div>
	        </td>
	    </tr>
    </table>
</div>
<button style="float: right" class="button" onclick="windowPrint();"><span><span>Afdrukken</span></span></button>

<script type="text/javascript">
	jQuery(document).ready(function() {
		windowPrint();
	});

	function windowPrint() {
		window.print();
	}
</script>