<style>
    .show{
        display: block;
        visibility: visible;
    }
</style>
<?php
if($this->helper('customer')->isLoggedIn()) { ?>
    <div class="page-title">
        <h1>Retour aanmelden</h1>
    </div>
    <?php
    $canViewPrices = true; //Mage::helper('exed_customerPermissions')->viewPrices();
    ?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <div class="contacts">
    <form action="<?php echo Mage::getUrl('return/return/sendemail') ?>" method="post" id="form-validate">
        <div class="fieldset">
            <div class="legend"><?php echo $this->__('Company') ?></div>
            <ul class="form-list">
                <li class="fields">
                    <div class="field left">
                        <label for="company" class="required">
                            <em>*</em>
                            <?php echo $this->__('Company') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" name="company" id="company" title="<?php echo $this->__('Company') ?>" class="input-text required-entry" value="<?php echo $this->getCompany() ?>" />
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field right">
                        <label for="firstname" class="required">
                            <em>*</em>
                            <?php echo $this->__('First Name') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" name="firstname" id="firstname" title="<?php echo $this->__('First Name') ?>" class="input-text required-entry" value="<?php echo $this->getFirstname() ?>" />
                        </div>
                    </div>
                    <div class="field left">
                        <label for="lastname" class="required">
                            <em>*</em>
                            <?php echo $this->__('Last Name') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" name="lastname" id="lastname" title="<?php echo $this->__('Last Name') ?>" class="input-text required-entry" value="<?php echo $this->getLastname() ?>" />
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field right">
                        <label for="street_1" class="required">
                            <em>*</em>
                            <?php echo $this->__('Street / Housenumber') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" name="street_1" id="street_1" title="<?php echo $this->__('Street') ?>" class="input-text required-entry" value="<?php echo $this->getStreet() ?>" />
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field left">
                        <label for="postcode" class="required">
                            <em>*</em>
                            <?php echo $this->__('Postcode') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" name="postcode" id="postcode" title="<?php echo $this->__('Postcode') ?>" class="input-text required-entry" value="<?php echo $this->getPostcode() ?>" />
                        </div>
                    </div>
                    <div class="field right">
                        <label for="city" class="required">
                            <em>*</em>
                            <?php echo $this->__('City') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" name="city" id="city" title="<?php echo $this->__('City') ?>" class="input-text required-entry" value="<?php echo $this->getCity() ?>" />
                        </div>
                    </div>
                <li>
                <li class="fields">
                    <div class="field left">
                        <label for="phonenumber" class="required">
                            <em>*</em>
                            <?php echo $this->__('Phonenumber') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" name="phonenumber" id="phonenumber" title="<?php echo $this->__('Phonenumber') ?>" class="input-text required-entry" value="<?php echo $this->getPhonenumber() ?>" />
                        </div>
                    </div>
                    <div class="field right">
                        <label for="email" class="required">
                            <em>*</em>
                            <?php echo $this->__('Email') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" name="email" id="email" title="<?php echo $this->__('Email') ?>" class="input-text required-entry validate-email" value="<?php echo $this->getEmail() ?>" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="fieldset">
            <div class="legend"><?php echo $this->__('Return') ?></div>
            <ul class="form-list">
                <li class="fields">
                    <div class="wide">
                        <label for="discussed_with">
                            <?php echo $this->__('Discussed with') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" name="discussed_with" id="discussed_with" title="<?php echo $this->__('Discussed with') ?>" class="input-text" />
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="wide">
                        <label for="ordernumber">
                            <?php echo $this->__('Ordernumber') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" name="ordernumber" id="ordernumber" title="<?php echo $this->__('Ordernumber') ?>" class="input-text" />
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="wide">
                        <label for="orderdate" class="required">
                            <em>*</em>
                            <?php echo $this->__('Orderdate') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" name="orderdate" id="orderdate" title="<?php echo $this->__('Orderdate') ?>" class="input-text" readonly />
                            <img title="Select date" id="orderdate_btn" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'adminhtml/default/default/images/grid-cal.gif'; ?>" class="v-middle" />

                        </div>
                    </div>
                </li>
                <li class="wide">
                    <label for="reason_return" class="required">
                        <em>*</em>
                        <?php echo $this->__('Reason return') ?>
                    </label>
                    <div class="input-box">
                        <textarea name="reason_return" id="reason_return" title="<?php echo $this->__('Reason return') ?>" class="input-text required-entry"></textarea>
                    </div>
                </li>
                <li class="wide">
                    <label for="action" class="required">
                        <em>*</em>
                        <?php echo $this->__('Action') ?>
                    </label>
                    <div class="input-box">
                        <select name="action" id="action" class="required-entry">
                            <option value="crediteren">Crediteren</option>
                            <option value="repareren">Repareren</option>
                            <option value="vervangen">Vervangen</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>
        <div class="fieldset">
            <div class="legend"><?php echo $this->__('Product') ?></div>
            <?php $fromLocation = 'return'; ?>
            <?php echo $this->getChildHtml('quickorder') ?>
        </div>
        <div class="fieldset">
            <div class="legend"><?php echo $this->__('Comment') ?></div>
            <ul class="form-list">
                <li class="wide">
                    <div class="input-box">
                        <textarea name="comment" id="comment" title="<?php echo $this->__('Comment') ?>" class="input-text"></textarea>
                    </div>
                </li>
            </ul>
        </div>
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <div class="buttons-set">
            <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><?php echo $this->__('Back') ?></a></p>
            <input type="submit" id="submitRetour" title="<?php echo $this->__('Sign up') ?>" class="button" value="<?php echo $this->__('Submit'); ?>"/>
        </div>
    </form>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);

        Calendar.setup({
            inputField : 'orderdate',
            ifFormat : '%e-%m-%Y',
            button : 'orderdate_btn',
            align : 'Bl',
            singleClick : true
        });

//        (function($) {
//            var number = 0;
//            var base = '<?php //echo Mage::getBaseUrl(); ?>//';
//            var skipMessage = false;
//
//            function getOrderline(row) {
//                var sku = '';
//                var qty = '';
//                var baseprice = '';
//                var price = '';
//                var discount = '';
//                var title = '';
//                var popup = '';
//                var image = '';
//                var productUrl = '';
//                var actie = '';
//
//                if(row) {
//                    sku = row[0];
//                    qty = row[1];
//                    json = $.parseJSON(row[2]);
//                    if(json) {
//                        title = json[1];
//                        price = json[3];
//                        baseprice = json[4];
//                        discount = json[5];
//                        popup = json[6];
//                        image = json[7];
//                        productUrl = json[8];
//                        actie = json[9];
//                    }
//                }
//                if(image != ''){
//                    image = "<img src='" + image+ "' height='60' />"
//                }
//
//                if(actie){
//                    actie = "<br /><b>Aktieprijs</b>"
//                }
//
//                var errorTemplate = $('#order-line-error-template').html();
//                var newline = '';
//                if ($('.productprice').length) {
//                    newline = $('\
//							<tr id="quick-order-'+number+'">\
//								<td><input class="sku required-entry" type="" name="quickorder['+number+'][sku]" value="'+sku+'" /> *<div class="search_autocomplete"></div></td>\
//								<td><input class="qty required-entry" type="" name="quickorder['+number+'][qty]" value="'+qty+'" /> *<span class="popup">' + popup + '</span></td>\
//		            <td class="productimage">' + image + '</td>\
//								<td class="producttitle">\
//		              <div class="title"><a href="' + productUrl + '" target="_blank">' + title + '</a></div>\
//		              <div class="quick-order-error">' + errorTemplate + '</div>\
//		              <div class="quick-order-stock">Beschikbare voorraad is ca. <span class="quick-order-stock-no">(onbekend)</span> stuks.</div>\
//		            </td>\
//								<td class="delete"><a class="button delete-order"><img src="<?php //echo $this->getSkinUrl('images/gift-message-close.gif'); ?>//" alt="<?php //echo $this->__('Verwijder') ?>//" /></span></a></td>\
//							</tr>');
//                } else {
//                    newline = $('\
//							<tr id="quick-order-'+number+'">\
//								<td><input class="sku required-entry" type="" name="quickorder['+number+'][sku]" value="'+sku+'" /><div class="search_autocomplete"></div></td>\
//								<td><input class="qty required-entry" type="" name="quickorder['+number+'][qty]" value="'+qty+'" /><span class="popup">' + popup + '</span></td>\
//		            <td class="productimage">' + image + '</td>\
//								<td class="producttitle">\
//								  <div class="title"><a href="' + productUrl + '" target="_blank">' + title + '</a></div>\
//								  <div class="quick-order-error">' + errorTemplate + '</div>\
//								  <div class="quick-order-stock">Beschikbare voorraad is ca. <span class="quick-order-stock-no">(onbekend)</span> stuks.</div>\
//								</td>\
//								<td class="delete"><a class="button delete-order"><img src="<?php //echo $this->getSkinUrl('images/gift-message-close.gif');?>//" alt="<?php //echo $this->__('Verwijder') ?>//" /></span></a></td>\
//							</tr>');
//                }
//                number++;
//                return newline;
//            }
//
//            function addOrderline(row) {
//                var newline = getOrderline(row);
//                $('.quick-order table tbody').append(newline);
//            }
//
//            $(document).ready(function() {
//                var url = base + 'quickorder/sku/json';
//                /** add an empty line to begin with and focus on the first field **/
//                addOrderline();
//                //$('input.sku').eq(0).focus();
//
//                /** show an animation when checking the form **/
//                $('.loader').ajaxStart(function() {
//                    $(this).show();
//                }).ajaxComplete(function() {
//                    $(this).hide();
//                });
//
//                $('.add-new-product-line').click(function() {
//                    addOrderline();
//                    return false;
//                });
//
//                var loginScreenOpened = false;
//
//                $('.sku').on('keyup', function(event){
//                    var url = base + 'quickorder/sku/search';
//                    var me = $(this);
//                    var parent = $(this).closest('tr');
//                    var data = parent.find('input').serialize();
//
//                    $.ajax({
//                        type: "post",
//                        url: url,
//                        data: data,
//                        dataType: "json",
//                        success: function(data) {
//                            if(!data || data[1] != parent.find('.sku').val()) return;
//                            parent.find('.search_autocomplete').show();
//                            parent.find('.search_autocomplete').html(data[0]);
//                            parent.find('.search_autocomplete div').click(function() {
//                                $(this).parents('tr').find('.sku').val($(this).attr('id'));
//                            });
//                        }
//                    });
//                });
//
//                /** add description if exists **/
//                $('.sku, .qty,').on('focusout', function(event) {
//
//                    var url = base + 'quickorder/sku/description';
//                    var me = $(this);
//                    var parent = $(this).closest('tr');
//
//                    setTimeout(function(){
//                        var data = parent.find('input').serialize();
//                        parent.find('.search_autocomplete').hide();
//                        $.ajax({
//                            type: "post",
//                            url: url,
//                            data: data,
//                            dataType: "json",
//                            success: function(data) {
//                                parent.removeClass('quick-order-not-available');
//                                parent.removeClass('quick-order-not-for-sale');
//                                parent.removeClass('quick-order-not-in-stock');
//                                parent.removeClass('quick-order-over-stock');
//
//                                if(!data) return;
//
//                                if (data[0] == 'error' && data[2] == 'no session' && !loginScreenOpened) {
//                                    loginScreenOpened = true;
//                                    alert("Uw browsersessie is verlopen. U dient opnieuw in te loggen in het systeem. U wordt (in een nieuw scherm) verwezen naar de inlogpagina. Als u daar opnieuw ingelogd hebt, en weer terugkeert naar dit scherm door het inlogvenster te sluiten, kunt u weer verder gaan met het aanvullen van uw bestelling.");
//                                    window.open("/customer/account/login/", "_blank");
//                                    setTimeout(function () {
//                                        loginScreenOpened = false;
//                                    }, 10 * 3600);
//                                    return;
//                                }
//
//                                var type = data[0];
//                                var title = data[1];
//                                var status = data[2];
//                                var price = data[3];
//                                var baseprice = data[4];
//                                var korting = data[5];
//                                var popup = data[6];
//                                var image = data[7];
//                                var productUrl = data[8];
//                                var actie = data[9];
//
//                                var popupElem = parent.find('.popup').empty().hide();
//                                if(type == 'title') {
//                                    if(image != ''){
//                                        image = "<img src='" + image+ "' height='60' />"
//                                    }
//
//                                    if(actie){
//                                        actie = "<br /><b>Aktieprijs</b>"
//                                    }else{
//                                        actie = '';
//                                    }
//                                    parent.find('.productimage').html(image);
//                                    parent.find('.producttitle .title').html('<a href="' + productUrl + '" target="_blank">' + title + '</a>');
//                                    parent.find('.productprice').html(price + actie);
//                                    parent.find('.productadvprice').html(baseprice);
//                                    parent.find('.productkorting').html(korting);
//                                    if (popup) {
//                                        popupElem.html(popup).show();
//                                    }
//                                    if (!status.in_stock) {
//                                        parent.addClass('quick-order-not-in-stock');
//                                    } else if (status.over_stock) {
//                                        parent.addClass('quick-order-over-stock');
//                                    }
//                                    parent.find('.quick-order-stock-no').text(parseInt(status.stock_qty));
//                                }
//                                if(type == 'error' && status == 'not for sale') {
//                                    parent.find('.producttitle .title').html(title);
//                                    parent.addClass('quick-order-not-for-sale');
//                                }
//                                if(type == 'error' && status == 'not available') {
//                                    parent.addClass('quick-order-not-available');
//                                }
//                                if(type == 'error' && status == 'bundle product') {
//                                    parent.find('.producttitle .title').html('<a href="' + price + '" target="_blank">' + title + '</a>');
//                                    parent.addClass('quick-order-error-bundle-product');
//                                }
//                            }
//                        });
//                    }, 500);
//                });
//
//                $('.qty').live("keydown" ,function(event) {
//                    if((event.keyCode == 9 || event.keyCode == 13) && !event.shiftKey) {
//                        /* <tab> or <enter> from the last field adds a record */
//                        var size = $('.qty').length;
//                        var index = $('.qty').index(this);
//
//                        if(size - 1 == index) {
//                            // if we are at the last record, add a line
//                            addOrderline();
//                        }
//                        // skip to the next field
//                        $('.qty').eq(index + 1).parents('tr').eq(0).find('.sku').focus();
//                        event.preventDefault();
//                    }
//                });
//
//                $('.sku').live("keydown" ,function(event) {
//                    /* <enter> from the sku fields tabs to the qty field */
//                    if(event.keyCode == 13) {
//                        $(this).parents('tr').find('.qty').focus();
//                        event.preventDefault();
//                    }
//                });
//
//                $('.delete-order').live("click", function(){
//                    parent = $(this).parents('tr');
//                    var url = base + 'quickorder/sku/delete';
//                    var sku = parent.find('.sku').val();
//                    var data = 'sku=' + sku;
//
//                    var clean = true;
//                    $.ajax({
//                        type: 'post',
//                        url: url,
//                        data: data,
//                        dataType: 'json',
//                        success: function(data) {
//                            parent.remove();
//                        }
//                    });
//                });
//
//                var busyUploading = false;
//            });
//
//            /**
//             * Show/hide popups
//             */
//            $('.quick-order-popup-button').live('click', function () {
//                $(this).parents('tr').eq(0).toggleClass('quick-order-popup-visible');
//            });
//            $('body').live('click', function (e) {
//                if (!$(e.target).is('table.quickorder *')) {
//                    $('tr.quick-order-popup-visible').removeClass('quick-order-popup-visible');
//                }
//            });
//            $('#submitRetour').live('click', function() {
//                skipMessage = true;
//            });
//
//        })(jQuery);
        //]]>
    </script>
<?php }
else {
    Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'niet-ingelogd');
}
?>