<!--@subject Retourbon {{var retour_number}} @-->
<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<table width="100%" cellpadding="0" cellspacing="0" style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
  <tr>
    <td valign="top" align="center">
    <!-- Header -->
    <table width="900" cellpadding="0" cellspacing="0" style="border:1px solid #f0f0f0; border-bottom:0px;">
      <tr>
        <td style="background-color:#575757;background-image:url('{{skin url="images/nieuwsbrief/header_top_bg.png"}}');">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td height="100">&nbsp;&nbsp;<a href="{{store url=""}}"><img src="{{skin url="images/nieuwsbrief/header.png"}}" width="193" height="60" border="0" style="margin:20px 8px 20px 10px;" /></a></td>
              <td>
                <table cellpadding="0" cellspacing="0" width="680">
                  <tr>
                    <td style="font: 32px arial,helvetica,sans-serif;  color:#49AB3E; text-align:right; padding:10px 20px 0px 20px;">
                      Retourbon
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align:right; font: 16px arial,helvetica,sans-serif;color:white;padding:0px 20px 0px 20px;">
                      <?php echo date('d-m-Y');?>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="left" valign="middle" style="background-color:#4c4c4c;background-image:url('{{skin url="images/nieuwsbrief/header_bg.png"}}');border-bottom:10px solid #FFFFFF; height:46px; font: 12px arial,helvetica,sans-serif; color:#FFFFFF;" >
          <table>
            <tr>
              <td width="600">
                <div style="padding:10px;color:#FFFFFF;font: 12px arial,helvetica,sans-serif;">&nbsp;&nbsp;<a href="{{store url=""}}" style="color:#FFFFFF;">Bezoek onze website</a></div>
              </td>
              <td style="text-align:right;" width="269">
                <div style="padding-top:4px;">
                  <a href="https://twitter.com/KorverHolland" title="Twitter" target="_blank"><img src="{{skin url="images/nieuwsbrief/twitter.png"}}" alt="Twitter" /></a>
                  &nbsp;
                  <a href="http://www.facebook.com/korverholland" title="Facebook" target="_blank"><img src="{{skin url="images/nieuwsbrief/facebook.png"}}" alt="Facebook" /></a>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table width="900" cellpadding="10" cellspacing="0" bgcolor="#FFFFFF" style="border:1px solid #f0f0f0; border-bottom:0px; border-top:0px">
    <tr>
    <!-- Content links -->
    <td bgcolor="#FFFFFF" valign="top" width="525" style="color:#000000;font:12px arial,helvetica,sans-serif;">
      
      <!-- Title -->
      <div style="font-size:24px; color:#49AB3E;font-weight:bold;padding-left:10px;">{{var mail.template_subject}}</div>
      
      <!-- Contentvlak 1 -->
      <div style="border:1px solid #FFFFFF; padding:10px;">
        <table cellspacing="0" cellpadding="0" border="0" width="850">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Beste {{var firstname}} {{var lastname}}</strong>,<br/>
                        Bedankt voor het invullen van de retourbon.
                        Indien u vragen heeft, neem dan gerust contact op via <a href="mailto:webshop@korverholland.com" style="color:#1E7EC8;">webshop@korverholland.com</a> of telefonisch <span class="nobr">073 656 80 53.</span></p>

                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Bedrijfgegevens:</th>
                            <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Retourgegevens:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                              {{var company}}
                              <br />
                              {{var street_1}}
                              <br />
                              {{var postcode}} {{var city}}
                              <br />
                              Tel. {{var phonenumber}}
                              <br />
                              Email: <a href="mailto:{{var email}}">{{var email}}</a>
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                Retournummer: <b>{{var retour_number}}</b>
                                <br />
                                Besproken met: {{var discussed_with}}
                                <br />
                                Ordernummer: {{var ordernumber}}
                                <br />
                                Datum order: {{var orderdate}}
                                <br />
                                <br />
                                Reden retour:
                                <br />
                                {{var reason_return}}
                                <br />
                                <br />
                                Actie: {{var action}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>

                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <thead>
                        <tr>
                          <th align="left" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Product</th>
                          <th align="left" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Artikelnummer</th>
                          <th align="left" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Aantal</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{var articles}}
                      </tbody>
                    </table>
                    <br />

                    {{depend comment}}
                      <b>Leveringsinstructies:</b><br />
                      {{var comment}}
                      <br />
                      <br />
                    {{/depend}}

                    <p>Dit is een kopie van uw retourbon. Voor ieder artikel dient u een afzonderlijke retourbon in te vullen. Kopie van deze email bij het desbetreffende artikel zichtbaar toevoegen.<br />
                    Wanneer u vragen heeft neem dan contact op via <a href="mailto:webshop@korverholland.com" style="color:#1E7EC8;">webshop@korverholland.com</a> of telefonisch <span class="nobr">073 656 80 53.</span>.<br />
                    <br /><br /> 
                    Dank u voor uw vertrouwen,<br />
                    <strong>Korver Holland</strong></p>
                </td>
          </tr>
        </table>
    </div>
        </td>
      </tr>
    </table>
    <!-- Footer -->
    <table width="900" cellpadding="15" cellspacing="0" height="122" style="background-color:#636267;border:1px solid #f0f0f0; border-top:0px;padding:10px;background-image:url('{{skin url="images/nieuwsbrief/footer_bg.png"}}');">
      <tr>
        <td align="left" width="300" valign="top" style="margin:0px;padding:10px;font: 12px arial,helvetica,sans-serif; color:white;" >
          <b style="font-size:16px">Korver Holland</b><br />
          Kometenplein 33<br />
          5215 MB 's-Hertogenbosch
        </td>
        <td align="left" width="300" valign="top" style="margin:0px;padding:10px;font: 12px arial,helvetica,sans-serif; color:white;" >
          <br style="font-size:16px" />
          Postbus 5072<br />
          5201 GB 's-Hertogenbosch
        </td>
        <td align="left" width="300" valign="top" style="margin:0px;padding:10px;font: 12px arial,helvetica,sans-serif; color:white;" >
          <br style="font-size:16px" />
          Tel: 073 656 80 53<br />
          Fax: 073 656 21 35
        </td>
      </tr>
      <tr>
      <td align="left" colspan="3" valign="top" style="margin:0px;padding:0px 0px 0px 10px;font: 11px arial,helvetica,sans-serif; color:white;" >
        &copy; Copyright <?php echo date('Y');?> Korver Holland - Alle rechten voorbehouden<br /><br />
      </td>
      </tr>
    </table>
    </td> <!-- Einde wrapper -->
  </tr>
</table>