/* Form */
#checkout-step-payment .buckaroo-method label { font-weight:normal; float:none; }
#checkout-step-payment .buckaroo-method select { width:auto; }
#checkout-step-payment .buckaroo-method ul.form-list { padding:0; }
#checkout-step-payment .buckaroo-method .input-box { float:none !important; }

#checkout-step-payment .buckaroo-method .customer-dob .dob-day input.input-text,
#checkout-step-payment .buckaroo-method .customer-dob .dob-month input.input-text { width:46px !important; }
#checkout-step-payment .buckaroo-method .customer-dob .dob-year input.input-text  { width:134px !important; }


#checkout-step-payment .buckaroo-method #radiogroup-container label { display:block; float:none; margin-bottom:2px; text-align:left !important; }
#checkout-step-payment .buckaroo-method #radiogroup-container label img { height:15px; width:auto; margin-top:1px; }

#checkout-step-payment .buckaroo-method .input-box .disabled { display:block; background:#f2f2f2; border:1px solid #b6b6b6; color:#999; padding:2px; height:15px; width:254px; line-height:16px; overflow:hidden; white-space:nowrap; }
#checkout-step-payment .buckaroo-method .input-box .disabled.stylefix { height:auto; padding:8px;}

/* Payment Guarantee Terms & Conditions */
#checkout-step-payment #payment_form_buckaroo3extended_paymentguarantee .tac-accept .input-checkbox { float:left; }
#checkout-step-payment #payment_form_buckaroo3extended_paymentguarantee .tac-accept label { margin:-2px 0 0 5px; }
#checkout-step-payment #payment_form_buckaroo3extended_paymentguarantee .tac-accept .input-checkbox.validation-failed { margin-bottom:18px; }
#checkout-step-payment #payment_form_buckaroo3extended_paymentguarantee .tac-accept #advice-required-entry-buckaroo3extended_paymentguarantee_BPE_terms_and_conditions { position:absolute; margin-top:17px; }

#checkout-step-payment #paymentguarantee_terms_and_conditions { display:none; }
#checkout-step-payment #paymentguarantee_terms_and_conditions { position:fixed; width:100%; height:100%; top:0; left:0; background:rgba(0, 0, 0, .35); z-index:100; }

#checkout-step-payment #paymentguarantee_terms_and_conditions .tac-content { position:fixed; background:#fff; width:310px; height:auto; left:50%; top:30px; margin-left:-155px; padding:8px 8px 12px; border: 1px solid #b6b6b6; z-index:200; }

#checkout-step-payment #paymentguarantee_terms_and_conditions .tac-close { float:right; }

#checkout-step-payment #paymentguarantee_terms_and_conditions a.button { text-decoration:none !important; cursor:pointer !important; background:none !important; }
#checkout-step-payment #paymentguarantee_terms_and_conditions a.button span { display:block; height:19px; border:1px solid #de5400; background:#f18200; padding:0 8px; font:bold 12px/19px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#fff; }
#checkout-step-payment #paymentguarantee_terms_and_conditions a.button span span { border:0; padding:0; }