<?php
/**
 * Shopping cart template
 *
 * @var $this Mage_Checkout_Block_Cart
 */
?>
<?php $_priceDisplay = ($this->helper('tax')->displayCartBothPrices()) ? 'display-both-prices' : 'display-single-price'; ?>
<div class="cart <?php echo $_priceDisplay; ?>">
    <div class="page-title title-buttons">
        <?php if (!$this->hasError()): ?>
            <ul class="checkout-types top">
                <?php foreach ($this->getMethods('top_methods') as $method): ?>
                    <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                        <li><?php echo $methodHtml; ?></li>
                    <?php endif; ?>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>
        <h1><?php echo $this->__('Shopping Cart') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->toHtml() ?>
    <?php echo $this->getChildHtml('form_before') ?>

    <div class="items-plus-totals">
        <form action="<?php echo $this->getFormActionUrl() ?>" method="post">
            <?php echo $this->getBlockHtml('formkey'); ?>
            <table id="shopping-cart-table" class="cart-table data-table">
                <col width="1"/>
                <col width="1"/>
                <col width="1"/>
                <col width="1"/>
                <col width="1"/>
                <col width="1"/>
                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                    <col width="1"/>
                    <col width="1"/>
                <?php endif; ?>

                <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
                <thead>
                <tr>
                    <th rowspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Product') ?></span></th>
                    <th rowspan="<?php echo $mergedCells; ?>">&nbsp;</th>
                    <th rowspan="<?php echo $mergedCells; ?>" class="a-center">
                        <?php echo $this->__('Qty') ?>
                    </th>
                    <th class="a-center cart-total-head" colspan="<?php echo $mergedCells; ?>">
                        <?php echo $this->__('Subtotal') ?>
                    </th>
                    <th class="a-center" rowspan="<?php echo $mergedCells; ?>">&nbsp;</th>
                </tr>
                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                    <tr>
                        <th class="a-center cart-price-head"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                        <th class="a-center cart-price-head"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                        <th class="a-center cart-total-head"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                        <th class="a-center cart-total-head"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                    </tr>
                <?php endif; ?>
                </thead>
                <tbody>
                <?php foreach ($this->getItems() as $_item): ?>
                    <?php echo $this->getItemHtml($_item) ?>
                <?php endforeach ?>
                </tbody>
            </table>
            <script type="text/javascript">decorateTable('shopping-cart-table')</script>
        </form>

        <div class="cart-totals-wrapper">
            <div class="update-cart">
                <button type="submit" name="update_cart_action" data-cart-item-update value="update_qty" title="<?php echo $this->quoteEscape($this->__('Update Shopping Cart')); ?>"
                        class="button2 btn-update">
                    <span><span><img src="<?php echo $this->getSkinUrl('images/refresh.svg') ?>"/><?php echo $this->__('Update Shopping Cart'); ?></span></span>
                </button>
            </div>

            <div class="cart-totals">
                <?php echo $this->getChildHtml('totals'); ?>
            </div>
        </div>
    </div>

    <?php echo $this->getChildHtml('shopping.cart.table.after'); ?>
    <div class="cart-forms">
        <?php /* Extensions placeholder */ ?>
        <?php echo $this->getChildHtml('checkout_cart_widget') ?>
        <?php echo $this->getChildHtml('checkout.cart.extra') ?>

        <?php if (!$this->getIsVirtual()): ?>
            <div class="cart-form-tab">
                <div class="cart-form-tab-title closed">
                    <?php echo $this->__('Estimate Shipping and Tax') ?>
                </div>

                <div class="cart-form-tab-content">
                    <?php echo $this->getChildHtml('shipping') ?>
                </div>
            </div>
        <?php endif; ?>

        <div class="cart-form-tab">
            <div class="cart-form-tab-title closed">
                <?php echo $this->__('Use Coupon code') ?>
            </div>

            <div class="cart-form-tab-content">
                <?php echo $this->getChildHtml('coupon') ?>
            </div>
        </div>
    </div>
</div>

<table class="cart-footer">
    <tr>
        <td class="a-right cart-footer-actions">
            <?php if (!$this->hasError()): ?>
                <ul class="checkout-types top">
                    <?php foreach ($this->getMethods('top_methods') as $method): ?>
                        <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                            <li><?php echo $methodHtml; ?></li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>

            <?php if ($this->getContinueShoppingUrl()): ?>
                <button type="button" title="<?php echo $this->quoteEscape($this->__('Continue Shopping')) ?>" class="button2 btn-continue"
                        onclick="setLocation('<?php echo Mage::helper('core')->quoteEscape($this->getContinueShoppingUrl()) ?>')">
                    <span><span><?php echo $this->__('Continue Shopping') ?></span></span>
                </button>
            <?php endif; ?>

            <!--[if lt IE 8]>
            <input type="hidden" id="update_cart_action_container" data-cart-item-update/>
            <script type="text/javascript">
                //<![CDATA[
                            Event.observe(window, 'load', function()
                            {
                                // Internet Explorer (lt 8) does not support value attribute in button elements
                                $emptyCartButton = $('empty_cart_button');
                                $cartActionContainer = $('update_cart_action_container');
                                if ($emptyCartButton && $cartActionContainer) {
                                    Event.observe($emptyCartButton, 'click', function()
                                    {
                                        $emptyCartButton.setAttribute('name', 'update_cart_action_temp');
                                        $cartActionContainer.setAttribute('name', 'update_cart_action');
                                        $cartActionContainer.setValue('empty_cart');
                                    });
                                }

                            });
                        //]]>
                        </script>
                        <![endif]-->
        </td>
    </tr>
</table>

<script>
    jQuery(document).ready(function ($) {
        $('.cart-form-tab-title').click(function() {
            $(this).parent().find('.cart-form-tab-content').toggle();
            $(this).toggleClass('open', 500);
            $(this).toggleClass('closed', 500);
        });
    });
</script>